Repository agda/agda, pull requests merged in 2018-08, with the labels that each got.

#3174 [ new ] Fewer postulates needed for Primitive types
  src/data/lib/prim/Agda/Builtin/Char.agda
  src/data/lib/prim/Agda/Builtin/Coinduction.agda
  src/data/lib/prim/Agda/Builtin/Float.agda
  src/data/lib/prim/Agda/Builtin/String.agda
  src/data/lib/prim/Agda/Builtin/Word.agda
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs-boot
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs-boot
  test/Compiler/simple/Issue2821.out
  test/Compiler/simple/Issue2909-5.out
  test/Compiler/simple/Issue2909-6.out
  test/Compiler/simple/UniversePolymorphicIO.out
  test/Fail/AbstractGuardednessPreservingTypeConstructors.agda
  test/Fail/DuplicateBuiltinBinding.err
  test/Fail/PatternMatchingOnCodata.err
  test/LaTeXAndHTML/succeed/Issue2019.html
  test/LaTeXAndHTML/succeed/Multiline.html
  test/Succeed/AbstractCoinduction.agda
  test/Succeed/Builtin.agda
  test/interaction/IntroSharp.out
Labels: builtin, safe

#3184 [ warnings ] force cases with warnings to have a .warn
  doc/user-manual/language/built-ins.lagda.rst
  test/Succeed/Builtin.agda
  test/Succeed/ImportWarningsB.warn
  test/Succeed/Issue1323.agda
  test/Succeed/Issue175.agda
  test/Succeed/Issue175b.agda
  test/Succeed/Issue2231sharp.agda
  test/Succeed/Issue2723.warn
  test/Succeed/Issue286.agda
  test/Succeed/Issue708.agda
  test/Succeed/Issue840a.agda
  test/Succeed/Lambda.agda
  test/Succeed/LitDistinct.agda
  test/Succeed/MultipleIdentifiersOneSignature.agda
  test/Succeed/Printf.agda
  test/Succeed/Tests.hs
  test/Succeed/Whitespace.agda
  test/Succeed/builtinInModule.agda
Labels: test-suite, type: enhancement, warnings

#3186 Adds JSON support
  Agda.cabal
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Interaction/AgdaTop.hs
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/Highlighting/Common.hs
  src/full/Agda/Interaction/Highlighting/Emacs.hs
  src/full/Agda/Interaction/Highlighting/JSON.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Main.hs
  src/full/Agda/Utils/IO/TempFile.hs
  test/Fail/Interaction-and-input-file.err
  test/Fail/Safe-flag-only-scope-checking-1.err
  test/Fail/Safe-flag-only-scope-checking-2.err
Labels: agda-mode, interaction, type: enhancement

#3201 [ warning ] AbsurdPatternRequiresNoRHS
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/data/emacs-mode/agda2-highlight.el
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Highlighting/Precise.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Highlighting.hs
  src/full/Agda/TypeChecking/Warnings.hs
  test/Fail/AbsurdPatternRequiresNoRHS.err
  test/Succeed/AbsurdPatternRequiresNoRHS.agda
  test/Succeed/AbsurdPatternRequiresNoRHS.warn
Labels: absurd-lambda-or-pattern, type: enhancement, warnings
