Repository agda/agda, pull requests merged in 2019-06, with the labels that each got.

#3834 [ fix #3829 ] case-split aware of later clauses too
  src/full/Agda/Interaction/MakeCase.hs
  test/interaction/Issue3829-2.agda
  test/interaction/Issue3829-2.in
  test/interaction/Issue3829-2.out
  test/interaction/Issue3829.agda
  test/interaction/Issue3829.in
  test/interaction/Issue3829.out
Labels: type: discussion

#3841 [ new ] Syntax sugar - idiom brackets for Alternative from SHE
  CHANGELOG.md
  doc/user-manual/language/syntactic-sugar.lagda.rst
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/IdiomBrackets.hs
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Fail/IdiomBracketsImplicit.err
  test/Fail/IdiomBracketsNotInScope.err
  test/Succeed/IdiomBrackets.agda
Labels: idiom, type: enhancement

#3852 [ emacs ] Alternative color scheme for dark themes
  src/data/emacs-mode/agda2-highlight.el
Labels: emacs, type: enhancement

#3862 [ fix #3831 ] Weaken variables in extendContext by 1
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Quote.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/Substitute/Class.hs
  src/full/Agda/TypeChecking/Unquote.hs
  src/full/Agda/Utils/Monad.hs
  test/interaction/Issue3831.agda
  test/interaction/Issue3831.in
  test/interaction/Issue3831.out
Labels: reflection, status: do-not-merge

#3811 Delay serialization of Response
  Agda.cabal
  src/full/Agda/Interaction/AgdaTop.hs
  src/full/Agda/Interaction/Base.hs
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/BasicOps.hs-boot
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/EmacsTop.hs-boot
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Imports.hs-boot
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/InteractionTop.hs-boot
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Interaction/Response.hs
  src/full/Agda/Interaction/Response.hs-boot
  src/full/Agda/Main.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Base.hs-boot
  src/full/Agda/TypeChecking/Monad/Debug.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Warnings.hs
Labels: interaction

#3865 [ re #3862 ] Strengthen variables after invoking `extendContext`
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/interaction/Issue3831.agda
  test/interaction/Issue3831.in
  test/interaction/Issue3831.out
Labels: reflection
