Repository agda/agda, pull requests merged in 2019-12, with the labels that each got.

#4047 [ fix #4046 ] Get rid of codata definitions
  CHANGELOG.md
  doc/user-manual/language/lexical-structure.lagda.rst
  doc/user-manual/tools/auto.rst
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Fixity.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  test/Fail/Codata.agda
  test/Fail/Codata.err
Labels: coinduction, syntax

#4304 [ doc ] for search about
  doc/user-manual/tools/emacs-mode.rst
  doc/user-manual/tools/index.rst
  doc/user-manual/tools/search-about.lagda.rst
Labels: documentation

#4270 enable anonymous import: `import Whatever as _`
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Fail/AnonymousImport.agda
  test/Fail/AnonymousImport.err
  test/Succeed/AnonymousImport.agda
  test/Succeed/AnonymousImport.warn
  test/Succeed/Issue3364.agda
  test/Succeed/Issue3364.warn
Labels: import, type: enhancement
