Repository agda/agda, pull requests merged in 2019-02, with the labels that each got.

#3475 [ test suite ] remove orphaned .err files from test/Fail
  test/Fail/CopatternCheckingNYI.err
  test/Fail/InductiveAndCoinductiveConstructors.err
  test/Fail/Issue1028.err
  test/Fail/Issue138.err
  test/Fail/Issue292b.err
  test/Fail/Issue473.err
  test/Fail/Issue501.err
  test/Fail/Issue882a.err
  test/Fail/Issue985.err
  test/Fail/NonRecursiveCoinductiveRecord.err
  test/Fail/Sections-13.err
  test/Fail/TeXSpanningComment.tex.err
  test/Fail/WhyWeNeedUntypedLambda.err
Labels: test-suite

#3485 [ warnings ] for empty primitive blocks
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Succeed/emptyprimitive.agda
  test/Succeed/emptyprimitive.warn
Labels: type: enhancement, warnings

#3456 [ new ] Injectivity of prim(NatToChar/StringToList)
  CHANGELOG.md
  src/data/lib/prim/Agda/Builtin/Char.agda
  src/data/lib/prim/Agda/Builtin/String.agda
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/TypeChecking/Primitive.hs
  test/LaTeXAndHTML/succeed/Issue2019.html
  test/LaTeXAndHTML/succeed/MdDontHighlightCode.html
  test/LaTeXAndHTML/succeed/Multiline.html
  test/Succeed/IgnoreWarnings.agda
  test/Succeed/ImportWarnings.warn
  test/Succeed/ImportWarningsB.agda
  test/Succeed/ImportWarningsB.warn
Labels: builtin, type: enhancement

#3548 [ new ] Add support for compiling literate Org documents
  doc/user-manual/tools/literate-programming.rst
  src/full/Agda/Interaction/Highlighting/HTML.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Parser/Literate.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  test/LaTeXAndHTML/succeed/Org.html
  test/LaTeXAndHTML/succeed/Org.lagda.org
  test/LaTeXAndHTML/succeed/OrgMultipleLanguages.html
  test/LaTeXAndHTML/succeed/OrgMultipleLanguages.lagda.org
  test/LaTeXAndHTML/succeed/OrgTangle.html
  test/LaTeXAndHTML/succeed/OrgTangle.lagda.org
  test/Utils.hs
  test/interaction/Issue2224.out
Labels: literate-agda, type: enhancement

#3476 [ doc ] reflection: add declaration unquote example
  doc/user-manual/language/reflection.lagda.rst
Labels: documentation, not-in-changelog, reflection, type: enhancement

#3567 [ fix #3564 ] Being the default is not the same as being set to the default
  Agda.cabal
  doc/user-manual/language/safe-agda.lagda.rst
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Termination/Monad.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/SizedTypes.hs
  src/full/Agda/TypeChecking/Polarity.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/Utils/TypeLits.hs
  src/full/Agda/Utils/WithDefault.hs
  test/Succeed/Issue3564-2.agda
  test/Succeed/Issue3564.agda
Labels: not-in-changelog, options, refactor
