Repository agda/agda, pull requests merged in 2019-05, with the labels that each got.

#3740 [ re agda/agda-stdlib#726 ] Add FloatToWord and its injectivity
  Agda.cabal
  src/data/MAlonzo/src/MAlonzo/RTE.hs
  src/data/lib/prim/Agda/Builtin/Float.agda
  src/data/lib/prim/Agda/Builtin/Float/Properties.agda
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/Interaction/Options/Lenses.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/Utils/Float.hs
  test/Succeed/UniqueFloatNaN.agda
Labels: float

#3771 [travis/stack] Run "--cpphs, --debug" variant as separate job, not as sequence
  .travis.yml
Labels: travis

#3762 [ #3736 ] Add MetaToNat and its injectivity proof
  Agda.cabal
  CHANGELOG.md
  src/data/lib/prim/Agda/Builtin/Reflection.agda
  src/data/lib/prim/Agda/Builtin/Reflection/Properties.agda
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/Interaction/Options/Lenses.hs
  src/full/Agda/TypeChecking/Primitive.hs
Labels: builtin, reflection, safe
