Repository agda/agda, pull requests merged in 2019-09, with the labels that each got.

#4063 Use --force-reinstalls to install shelltestrunner
  .travis.yml
Labels: status: do-not-merge

#4073 [travis] Some cosmetic changes
  .travis.yml
Labels: not-in-changelog

#4097 [ re #4025 ] Travis CI for Windows and Whitespace check
  .travis.yml
  .travis/cabal_install
  .travis/cabal_script
  .travis/stack_install
  stack-8.6.5.yaml
Labels: not-in-changelog, travis, type: task

#4104 agda-input.el: Add some missing characters
  src/data/emacs-mode/agda-input.el
Labels: agda-mode, emacs, unicode

#4102 Retiring the legacy reflection framework
  CHANGELOG.md
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Attribute.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  test/Succeed/Less-normalisation-in-reflection-machinery.agda
  test/Succeed/QuoteContext.agda
  test/Succeed/Reflection.agda
  test/Succeed/Tactic.agda
  test/Succeed/TestQuote.agda
Labels: reflection

#4098 [ new ] syntax for large literals: 1_000_000
  CHANGELOG.md
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Syntax/Parser/LexActions.hs-boot
  src/full/Agda/Syntax/Parser/Lexer.x
  test/Succeed/largenumber.agda
Labels: literals, syntax, type: enhancement
