Repository agda/agda, pull requests merged in 2019-08, with the labels that each got.

#3963 [ fix #3293 ] Absurd match in a do block
  CHANGELOG.md
  doc/user-manual/language/syntactic-sugar.lagda.rst
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/DoNotation.hs
  test/Succeed/absurddo.agda
Labels: absurd-lambda-or-pattern, do-notation, type: enhancement

#3969 [ fix #3965 ] Highlight unreachable clauses separately
  src/data/Agda.css
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/LaTeXAndHTML/succeed/Issue3965.agda
  test/LaTeXAndHTML/succeed/Issue3965.html
Labels: range, unreachable-clause

#3975 [ fixed #3943 ] now printing terms in unification problems {_} = {_}
  src/full/Agda/TypeChecking/Errors.hs
  test/Fail/Issue1406.err
  test/Fail/Issue1435-helper.err
  test/Fail/Issue1982.err
  test/Fail/Issue199.err
  test/Fail/Issue2621.err
  test/Fail/LevelUnification.err
  test/interaction/Issue2621.out
Labels: error-reporting, unification

#3979 Add InteractionId field to Resp_MakeCase
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Interaction/Response.hs
  src/full/Agda/Interaction/Response.hs-boot
Labels: interaction, refactor

#3970 [ fix #3129 ] add 'bugs' target to the test suite
  Makefile
  test/Bugs/Issue1075.agda
  test/Bugs/Issue1075.err
  test/Bugs/Issue3027.agda
  test/Bugs/Issue3027.err
  test/Bugs/Issue3027b.agda
  test/Bugs/Issue3027b.err
  test/Bugs/Issue325b.agda
  test/Bugs/Issue325b.err
  test/Bugs/LongList.agda
  test/Bugs/MisspelledKeywordInRecord.agda
  test/Bugs/MisspelledKeywordInRecord.err
  test/Bugs/NakedEllipsisWeirdError.agda
  test/Bugs/NakedEllipsisWeirdError.err
  test/Bugs/NonRecursiveCoinductiveRecord.agda
  test/Bugs/SizedTypesLoopDueInadmissibility.agda
  test/Bugs/SizedTypesScopeViolationInMeta.err
  test/Bugs/Tests.hs
  test/Bugs/bugs.agda-lib
  test/Bugs/fixed/LostConstraint.agda
  test/Bugs/fixed/Main.agda-lib
  test/Compiler/Tests.hs
  test/Fail/SizedTypesScopeViolationInMeta.agda
  test/Fail/SizedTypesScopeViolationInMeta.err
  test/Fail/Tests.hs
  test/LaTeXAndHTML/Tests.hs
  test/LibSucceed/Tests.hs
  test/Main.hs
  test/Succeed/Issue532.agda
  test/Succeed/TerminationSubpattern.agda
  test/Succeed/Tests.hs
  test/Utils.hs
  test/bugs/FamilyPattern.agda
  test/bugs/ImpossiblePattern.agda
  test/bugs/Issue1023.agda
  test/bugs/Issue166NotSized.agda
  test/bugs/Lambda.agda
  test/bugs/Mutual.agda
  test/bugs/RecursiveRecord.agda
  test/bugs/SizedTypesMergeSort.agda
  test/bugs/fixed/DotPattern.agda
  test/bugs/fixed/DroppingParameters.agda
  test/bugs/fixed/HiddenLambda.agda
  test/bugs/fixed/lexerBug.agda
  test/bugs/univ.agda
Labels: test-suite

#3999 User manual: replaces a Middle English form with the standard English…
  doc/user-manual/tools/package-system.rst
Labels: documentation

#3998 [ emacs ] Literate texts are not comments
  src/data/emacs-mode/agda2-highlight.el
Labels: agda-mode, highlighting

#4014 User manual: fixes a broken link to Stump's precompiled Agda for Windows
  doc/user-manual/getting-started/prerequisites.rst
Labels: documentation, typo

#4013 User manual: makes a minor wording fix in Getting Started
  doc/user-manual/getting-started/what-is-agda.lagda.rst
Labels: documentation, typo

#3959 [ fix #3295 ] New option: allow-incomplete-matches
  CHANGELOG.md
  doc/user-manual/language/pragmas.lagda.rst
  doc/user-manual/language/safe-agda.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Info.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Positivity.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Serialise/Instances.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue2250-2.agda
  test/Fail/Issue2250-2.err
  test/Fail/Issue3983.agda
  test/Fail/Issue3983.err
  test/interaction/Issue1829.hs
  test/interaction/Issue3295.agda
  test/interaction/Issue3295.in
  test/interaction/Issue3295.out
  test/interaction/Issue3295/Incomplete.agda
  test/interaction/Issue3295/Incomplete2.agda
  test/interaction/empty.agda
  test/interaction/empty.in
  test/interaction/empty.out
Labels: bikeshedding, coverage, options, warnings

#3987 [ re #3949 ] new option --local-interfaces
  CHANGELOG.md
  Setup.hs
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/FindFile.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Options.hs
Labels: file, interface, options

#3984 [ fix #760 ] and other warnings related to useless 'public'
  benchmark/std-lib/Any.agda
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  src/full/Agda/Utils/Update.hs
  test/Bugs/Issue3027.err
  test/Bugs/Issue3027b.err
  test/Bugs/Issue3870.err
  test/Fail/Impossible.err
  test/Fail/Issue759a.err
  test/Fail/Issue759b.err
  test/Fail/PublicWithoutOpen.err
  test/Fail/PublicWithoutOpen2.err
  test/Succeed/Imports/A.agda
  test/Succeed/Issue2377.warn
  test/Succeed/Issue759.warn
  test/Succeed/Issue760.agda
  test/Succeed/Issue760.warn
  test/Succeed/PublicWithoutOpen.agda
  test/Succeed/PublicWithoutOpen.warn
  test/Succeed/PublicWithoutOpen2.agda
  test/Succeed/PublicWithoutOpen2.warn
  test/Succeed/uselesspublic.agda
  test/Succeed/uselesspublic.warn
  test/Utils.hs
  test/interaction/Issue2377.out
Labels: test-suite, warnings
