Repository agda/agda, pull requests merged in 2020-11, with the labels that each got.

#5020 main/interaction: Improve state management for repl/backends/etc.
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Compiler/Common.hs
  src/full/Agda/Interaction/CommandLine.hs
  src/full/Agda/Interaction/Monad.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Main.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Imports.hs
  src/full/Agda/TypeChecking/Monad/Options.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Monad/Trace.hs
  src/full/Agda/TypeChecking/Primitive/Base.hs
  test/Fail/Interaction-and-input-file.err
Labels: REPL, refactor

#5019 GHC Backend: Improved state management and other cleanups
  src/full/Agda/Compiler/MAlonzo/Coerce.hs
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/HaskellTypes.hs
  src/full/Agda/Compiler/MAlonzo/Misc.hs
  src/full/Agda/Compiler/MAlonzo/Pragmas.hs
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/Interaction/Options.hs
Labels: ghc-backend, refactor

#5035 [ new ] Add a stub page for the guarded cubical mode to begin with
  doc/user-manual/language/guarded-cubical.lagda.rst
  doc/user-manual/language/index.rst
Labels: cubical, guarded cubical

#5067 Remove `MaybeWarnings` and replace with `[TCWarning]`
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Imports.hs-boot
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Main.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
Labels: import, refactor, warnings

#5069 Simplifications re internal `SourceInfo` type
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Main.hs
  test/api/PrettyInterface.hs
Labels: import, refactor
