Repository agda/agda, pull requests merged in 2020-09, with the labels that each got.

#4891 Resolve most causes of UndecidableInstances via type families (33 modules → 5)
  src/full/Agda/Auto/Auto.hs
  src/full/Agda/Auto/CaseSplit.hs
  src/full/Agda/Auto/NarrowingSearch.hs
  src/full/Agda/Auto/SearchControl.hs
  src/full/Agda/Benchmarking.hs
  src/full/Agda/Compiler/Treeless/Builtin.hs
  src/full/Agda/Compiler/Treeless/Subst.hs
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Syntax/Abstract/Pattern.hs
  src/full/Agda/Syntax/Abstract/Pretty.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/Pattern.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/Syntax/Translation/ReflectedToAbstract.hs
  src/full/Agda/Termination/Monad.hs
  src/full/Agda/TypeChecking/Abstract.hs
  src/full/Agda/TypeChecking/CompiledClause/Compile.hs
  src/full/Agda/TypeChecking/Coverage/Match.hs
  src/full/Agda/TypeChecking/Free.hs
  src/full/Agda/TypeChecking/Free/Lazy.hs
  src/full/Agda/TypeChecking/Free/Reduce.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/Level.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/MetaVars/Occurs.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Benchmark.hs
  src/full/Agda/TypeChecking/Monad/Context.hs
  src/full/Agda/TypeChecking/Monad/Open.hs
  src/full/Agda/TypeChecking/Names.hs
  src/full/Agda/TypeChecking/Positivity.hs
  src/full/Agda/TypeChecking/Pretty.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Quote.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rewriting/Confluence.hs
  src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/LHS/Problem.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Serialise/Base.hs
  src/full/Agda/TypeChecking/SizedTypes/Solve.hs
  src/full/Agda/TypeChecking/SizedTypes/Syntax.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/Substitute/Class.hs
  src/full/Agda/TypeChecking/SyntacticEquality.hs
  src/full/Agda/TypeChecking/Telescope.hs
  src/full/Agda/Utils/Benchmark.hs
  src/full/Agda/Utils/ListT.hs
  test/Internal/TypeChecking/Generators.hs
  test/Internal/TypeChecking/Substitute.hs
Labels: refactor

#4895 Move "unicode or ASCII" IORef out of Agda.Utils
  Agda.cabal
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Interaction/Options/IORefs.hs
  src/full/Agda/Syntax/Concrete/Glyph.hs
  src/full/Agda/Syntax/Concrete/Name.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/TypeChecking/Unquote.hs
  src/full/Agda/Utils/String.hs
  src/full/Agda/Utils/Suffix.hs
Labels: refactor, unicode

#4905 travis/stack: Build size-solver without `--silent`
  .travis.yml
Labels: size-solver, travis

#4896 Use optUseUnicode for generating fresh names instead of global IORef
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Syntax/Abstract/Name.hs
  src/full/Agda/Syntax/Concrete/Glyph.hs
  src/full/Agda/Syntax/Concrete/Name.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ReflectedToAbstract.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/interaction/Issue2937.agda
  test/interaction/Issue2937.out
  test/interaction/Issue2937.sh
  test/interaction/Issue2937/NoUnicode.agda
  test/interaction/Issue2937/WithUnicode.agda
Labels: unicode

#4886 [ fix #4610, agda-mode ] Use cl-lib for compatibility with Emacs 27
  src/data/emacs-mode/agda-input.el
  src/data/emacs-mode/agda2-mode.el
  src/data/emacs-mode/annotation.el
  src/data/emacs-mode/eri.el
Labels: agda-mode, emacs

#4930 Replace "file and line" with CallStack for internal errors
  Agda.cabal
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Fixity.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Debug.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Reduce/Fast.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  src/full/Agda/TypeChecking/Telescope.hs
  src/full/Agda/TypeChecking/Warnings.hs
  src/full/Agda/Utils/CallStack.hs
  src/full/Agda/Utils/CallStack/Base.hs
  src/full/Agda/Utils/CallStack/Pretty.hs
  src/full/Agda/Utils/Impossible.hs
  src/full/Agda/Version.hs
  test/Bugs/Issue3027.err
  test/Bugs/Issue3027b.err
  test/Fail/Impossible.err
  test/Utils.hs
  test/interaction/Impossible.out
  test/interaction/Issue2447e.out
  test/interaction/Issue4929.out
  test/interaction/clean.sh
Labels: error-reporting, type: enhancement
