Repository agda/agda, pull requests merged in 2020-04, with the labels that each got.

#4551 [ doc ] Authors and contributors gathered at team.rst
  Agda.cabal
  doc/user-manual/conf.py
  doc/user-manual/team.rst
Labels: documentation

#4579 [ new ] quoteωTC
  CHANGELOG.md
  doc/user-manual/language/reflection.lagda.rst
  src/data/lib/prim/Agda/Builtin/Reflection.agda
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/interaction/Issue3831.out
Labels: reflection, type: enhancement

#4575 [ doc cubical ] examples of "A is constant on r"
  doc/user-manual/language/cubical.lagda.rst
Labels: cubical, documentation

#4603 Add -v0 and -w to runhaskell in interaction tests
  test/interaction/Makefile
Labels: not-in-changelog, test-suite

#4552 wrap org-mode exported html as html
  src/full/Agda/Interaction/Highlighting/HTML.hs
  test/LaTeXAndHTML/Tests.hs
  test/LaTeXAndHTML/succeed/OrgHighlightCode.flags
  test/LaTeXAndHTML/succeed/OrgHighlightCode.lagda.org
  test/LaTeXAndHTML/succeed/OrgHighlightCode.org
  test/LaTeXAndHTML/succeed/OrgHighlightCodeAuto.flags
  test/LaTeXAndHTML/succeed/OrgHighlightCodeAuto.lagda.org
  test/LaTeXAndHTML/succeed/OrgHighlightCodeAuto.org
Labels: html-backend, type: enhancement

#4602 Trigger "ambiguous constructor" error when appropriate
  src/full/Agda/TypeChecking/Rules/LHS.hs
  test/Fail/AmbiguousConstructor.agda
  test/Fail/AmbiguousConstructor.err
  test/Succeed/Issue4130.agda
Labels: ambiguous-constructors, error-reporting, pattern-matching
