Repository agda/agda, pull requests merged in 2020-08, with the labels that each got.

#4818 Minor `.gitignore` improvements
  .gitignore
Labels: not-in-changelog, repository

#4821 Add compiler-check to `stack-*.yaml`
  stack-8.0.2.yaml
  stack-8.10.1.yaml
  stack-8.2.2.yaml
  stack-8.4.4.yaml
  stack-8.6.5.yaml
  stack-8.8.2.yaml
  stack-8.8.3.yaml
Labels: not-in-changelog, stackage

#4829 add ranges to goals in --interaction-json
  src/full/Agda/Interaction/JSONTop.hs
Labels: interaction-json

#4854 Fix GHC 8.10 on Travis
  .travis.yml
Labels: build-failure, ghc-8.10.2, travis

#4849 Fix #4848 - Missing Agda.Builtin.Reflection.External from data-files in Agda.cabal
  Agda.cabal
  src/data/lib/prim/Agda/Builtin/Reflection/External.agda
  test/Succeed/ExecAgda.agda
Labels: builtin

#4839 Drop cached type-check log on a module ID mismatch. Fixes #4835.
  src/full/Agda/TypeChecking/Monad/Caching.hs
  test/interaction/Issue4835.agda
  test/interaction/Issue4835.out
  test/interaction/Issue4835.sh
  test/interaction/Issue4835/Count.hs
  test/interaction/Issue4835/ModA.agda
  test/interaction/Issue4835/ModB.agda
Labels: caching

#4856 Remove the LevelAtom type
  src/full/Agda/Auto/Convert.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/Defs.hs
  src/full/Agda/Syntax/Internal/Generic.hs
  src/full/Agda/Syntax/Internal/MetaVars.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Abstract.hs
  src/full/Agda/TypeChecking/CheckInternal.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/EtaContract.hs
  src/full/Agda/TypeChecking/Free/Lazy.hs
  src/full/Agda/TypeChecking/Free/Precompute.hs
  src/full/Agda/TypeChecking/Free/Reduce.hs
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/Level.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/MetaVars/Mention.hs
  src/full/Agda/TypeChecking/MetaVars/Occurs.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/TypeChecking/Polarity.hs
  src/full/Agda/TypeChecking/Positivity.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Primitive/Base.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rewriting/Confluence.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/Substitute/DeBruijn.hs
  src/full/Agda/TypeChecking/SyntacticEquality.hs
  src/full/Agda/TypeChecking/Unquote.hs
Labels: levels, type: task

#4887 Make ghci flags consistent
  .ghci-8.0
  .ghci-8.6
  Agda.cabal
Labels: devx

#4874 Implement binary integer literals with prefix `0b`
  CHANGELOG.md
  doc/user-manual/language/lexical-structure.lagda.rst
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  test/Succeed/IntegerLiteral.agda
Labels: literals, parser, type: enhancement
