Repository agda/agda, pull requests merged in 2020-12, with the labels that each got.

#5087 Trivial: A few `MonadTrans` impls and missing `IdentityT` instances
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs-boot
  src/full/Agda/TypeChecking/Monad/Context.hs
  src/full/Agda/TypeChecking/Monad/Context.hs-boot
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs-boot
  src/full/Agda/TypeChecking/Monad/Pure.hs
  src/full/Agda/TypeChecking/Monad/Pure.hs-boot
  src/full/Agda/TypeChecking/Monad/Trace.hs
Labels: refactor

#5081 Cleanups to `Agda.Interaction.Imports`
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Options/Lenses.hs
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Env.hs
  src/full/Agda/TypeChecking/Monad/Imports.hs
  src/full/Agda/TypeChecking/Monad/Options.hs
  src/full/Agda/Utils/FileName.hs
  test/Fail/Issue641-all-interfaces.err
  test/Fail/Issue641.err
  test/api/Issue1168.hs
Labels: import, refactor

#5089 Minor option+library cleanups
  Agda.cabal
  src/full/Agda/Interaction/FindFile.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/Library.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/HasOptions.hs
  src/full/Agda/Interaction/Options/Lenses.hs
  src/full/Agda/Main.hs
  src/full/Agda/Termination/CutOff.hs
  src/full/Agda/Termination/Monad.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Options.hs
  test/Internal/Interaction/Options.hs
  test/interaction/Issue2122.out
Labels: options, refactor

#5091 Refact: Explicit operations and initial values on modalities
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Internal/Pattern.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Forcing.hs
  src/full/Agda/TypeChecking/Free/Lazy.hs
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/MetaVars/Occurs.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  test/Internal/Syntax/Common.hs
  test/Internal/TypeChecking/Free.hs
Labels: irrelevance, modalities, refactor

#5094 [ workflow ] Some improvements over workflows
  .github/check_agda.sh
  .github/install_agda_system.bat
  .github/install_agda_system.sh
  .github/install_agda_user.sh
  .github/workflows/cabal.yml
  .github/workflows/haddock.yml
  .github/workflows/nightly.yml
  .github/workflows/stack.yml
  .github/workflows/user_manual.yml
  .github/workflows/whitespace.yml
  stack-8.10.1.yaml
Labels: github-workflows, type: task

#5082 LaTeX, GraphViz, and HTML as isolated compiler backends
  examples/Makefile
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Compiler/Builtin.hs
  src/full/Agda/Compiler/Common.hs
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Interaction/CommandLine.hs
  src/full/Agda/Interaction/Highlighting/Dot.hs
  src/full/Agda/Interaction/Highlighting/Dot/Backend.hs
  src/full/Agda/Interaction/Highlighting/HTML.hs
  src/full/Agda/Interaction/Highlighting/HTML/Backend.hs
  src/full/Agda/Interaction/Highlighting/HTML/Base.hs
  src/full/Agda/Interaction/Highlighting/LaTeX.hs
  src/full/Agda/Interaction/Highlighting/LaTeX/Backend.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Main.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Imports.hs
  test/Fail/Issue641.err
  test/api/PrettyInterface.hs
  test/interaction/Debug.out
  test/interaction/Issue2905.out
  test/interaction/QuickLaTeX-Caching.out
Labels: backend:dot, backend:html, backend:latex, backends, refactor

#5105 Fix --only-scope-checking + (vim,interact…) exclusivity check
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Main.hs
  test/Fail/OnlyScopeCheckingEmacs.err
  test/Fail/OnlyScopeCheckingEmacs.flags
  test/Fail/OnlyScopeCheckingJSON.err
  test/Fail/OnlyScopeCheckingJSON.flags
  test/Fail/OnlyScopeCheckingRepl.err
  test/Fail/OnlyScopeCheckingRepl.flags
  test/Fail/OnlyScopeCheckingVim.err
  test/Fail/OnlyScopeCheckingVim.flags
  test/Fail/Tests.hs
Labels: REPL, error-reporting, interaction, interaction-json, options, type: bug, vim
