Repository agda/agda, pull requests merged in 2020-10, with the labels that each got.

#4914 Clarify extra condition on transp
  doc/user-manual/language/cubical.lagda.rst
Labels: cubical, documentation

#4980 Remove use of undefine in Makefiles
  mk/stack.mk
Labels: build-failure, macOS

#4983 updated installation instructions for nix
  doc/user-manual/getting-started/installation.rst
Labels: documentation

#4993 [ refactor ] Introduce RecordDirectives
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Fixity.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
Labels: refactor

#4956 Reuse existing meta variables in postponed projection applications
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Application.hs-boot
  test/Fail/Issue4924.agda
  test/Fail/Issue4924.err
Labels: ambiguous-names, instance, projection

#5001 [ fix #2858 ] Interleaving mutually-defined functions and datatypes
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/language/lexical-structure.lagda.rst
  doc/user-manual/language/mutual-recursion.lagda.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/Syntax/Concrete/Definitions/Monad.hs
  src/full/Agda/Syntax/Concrete/Definitions/Types.hs
  src/full/Agda/Syntax/Concrete/Fixity.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue2858-codata.agda
  test/Fail/Issue2858-codata.err
  test/Fail/Issue2858-conflict.agda
  test/Fail/Issue2858-conflict.err
  test/Fail/Issue2858-missing.agda
  test/Fail/Issue2858-missing.err
  test/Fail/Issue4560NoCopatternMatchingWithoutEta.agda
  test/Fail/Issue4560NoCopatternMatchingWithoutEta.err
  test/Succeed/Attributes.agda
  test/Succeed/Issue2858-EvenOdd.agda
  test/Succeed/Issue2858-Fresh.agda
  test/Succeed/Issue2858-IR-record.agda
  test/Succeed/Issue2858-Order.agda
  test/Succeed/Issue2858-invalid.agda
  test/Succeed/Issue2858-invalid.warn
  test/Succeed/Issue2858-nbe.agda
  test/Succeed/Issue2858-with.agda
Labels: mutual

#4981 Streamline installation from source
  Makefile
  doc/user-manual/getting-started/installation.rst
Labels: documentation, installation, type: enhancement

#5021 CI build fix: Disable cluster-counting on Windows build
  .github/workflows/nightly.yml
  .github/workflows/stack.yml
  Makefile
Labels: build-failure, github-workflows, windows

#5017 graphviz/dot backend: Cleanup and refactors
  Agda.cabal
  src/full/Agda/Interaction/Highlighting/Dot.hs
  src/full/Agda/Interaction/Highlighting/Dot/Backend.hs
  src/full/Agda/Interaction/Highlighting/Dot/Base.hs
  src/full/Agda/Main.hs
  test/Succeed/Issue481.dot.orig
Labels: backend:dot, refactor

#5016 LaTeX backend: Cleanup and refactors
  Agda.cabal
  src/full/Agda/Interaction/Highlighting/LaTeX.hs
  src/full/Agda/Interaction/Highlighting/LaTeX/Backend.hs
  src/full/Agda/Interaction/Highlighting/LaTeX/Base.hs
Labels: latex-backend, refactor

#5018 HTML Backend: Cleanup and refactors
  Agda.cabal
  src/full/Agda/Interaction/Highlighting/HTML.hs
  src/full/Agda/Interaction/Highlighting/HTML/Backend.hs
  src/full/Agda/Interaction/Highlighting/HTML/Base.hs
Labels: html-backend, refactor
