Repository agda/agda, pull requests merged in 2020-07, with the labels that each got.

#4790 Add a primitive to show that Agda.Builtins.String.fromList is injective
  CHANGELOG.md
  doc/user-manual/language/built-ins.lagda.rst
  src/data/lib/prim/Agda/Builtin/String/Properties.agda
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/TypeChecking/Primitive.hs
  test/interaction/Issue4022.out
Labels: builtin, type: enhancement

#4794 Fix leftovers of old flat modality syntax in flat-split option help
  src/full/Agda/Interaction/Options.hs
Labels: documentation

#4800 Fix image location and formatting in moved 2.6.1 release notes.
  doc/release-notes/2.6.1.md
Labels: typo

#4791 `[ci skip]` and `[skip ci]` instructions for Github Workflows
  .github/workflows/cabal.yml
  .github/workflows/haddock.yml
  .github/workflows/stack.yml
  .github/workflows/user_manual.yml
  .github/workflows/whitespace.yml
  HACKING.md
Labels: github-workflows

#4806 Upload size-solver artifact on macOS and Linux
  .github/workflows/nightly.yml
Labels: artifacts, github-workflows

#4759 Extend reflection with system calls
  CHANGELOG.md
  Makefile
  doc/user-manual/language/reflection.lagda.rst
  doc/user-manual/language/safe-agda.lagda.rst
  doc/user-manual/language/sort-system.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/data/lib/prim/Agda/Builtin/Reflection/External.agda
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/Library.hs
  src/full/Agda/Interaction/Library/Base.hs
  src/full/Agda/Interaction/Library/Parse.hs
  src/full/Agda/Interaction/Options.hs
  src/full/Agda/Interaction/Options/Lenses.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Main.hs
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Options.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  src/full/Agda/TypeChecking/Unquote.hs
  src/full/Agda/Utils/Pretty.hs
  test/Bugs/Tests.hs
  test/Fail/Tests.hs
  test/LibSucceed/Tests.hs
  test/Succeed/ExecAgda.agda
  test/Succeed/ExecAgda.vars
  test/Succeed/Tests.hs
  test/Succeed/exec-tc/empty.agda
  test/Utils.hs
  test/interaction/Issue3831.out
Labels: builtin, reflection, status: ready

#4802 Add minimal hlint.yaml + GitHub workflow
  .github/workflows/lint.yaml
  .hlint.yaml
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Compiler/JS/Pretty.hs
  src/full/Agda/Syntax/Concrete/Name.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Notation.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Reduce/Fast.hs
  src/full/Agda/Utils/Graph/TopSort.hs
  src/full/Agda/Utils/List1.hs
  src/full/Agda/Utils/SmallSet.hs
  src/full/Agda/Utils/Tuple.hs
  src/full/Agda/Utils/TypeLevel.hs
  src/hTags/Tags.hs
  src/size-solver/Parser.hs
  test/Internal/Interaction/Highlighting/Precise.hs
  test/interaction/Issue4333.hs
  test/interaction/RunAgda.hs
Labels: github-workflows

#4810 Fix build break caused by conflict of multiple new pragmas
  src/full/Agda/Interaction/Library.hs
  src/full/Agda/Interaction/Library/Parse.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
Labels: build-failure, not-in-changelog

#4819 ci: Remove size-solver from nightly release and script
  .github/install_agda_system.sh
  .github/install_agda_user.sh
  .github/workflows/nightly.yml
Labels: artifacts, github-workflows
