Repository agda/agda, pull requests merged in 2021-08, with the labels that each got.

#5491 [ fix #5489 fix #5490 ] Emacs: C-c C-x C-a (abort)
  src/data/emacs-mode/agda2-mode.el
Labels: emacs

#5503 [ re #5500 ] `make install-bin` and similar targets add a version suffix
  Makefile
  mk/paths.mk
Labels: Makefile

#5516 [ doc ] Fix a link in overview
  doc/user-manual/overview.rst
Labels: documentation

#5522 [ fix #5291 ] lexer lookAhead: proper longest match procedure
  src/full/Agda/Syntax/Parser/LookAhead.hs
  test/Succeed/Issue5291.agda
Labels: lexer

#5518 [ fix #5506 ] by turning the crashed case into a conservative handling
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  test/Succeed/Issue5506.agda
Labels: forcing, regression in 2.6.1

#5533 [ fix #5532 ] CompilationOK now reports backend which was run
  src/full/Agda/Interaction/Base.hs
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Interaction/Response.hs
  test/interaction/CompilationWarnings.out
  test/interaction/Issue2714.out
  test/interaction/QuickLaTeX-Caching.out
Labels: interaction, backends
