Repository agda/agda, pull requests merged in 2021-03, with the labels that each got.

#5260 [ #5259 ] github: disable -fenable-cluster-counting for macOS
  .github/workflows/cabal.yml
  .github/workflows/deploy.yml
  .github/workflows/stack.yml
Labels: github-workflows, platform:macOS, text-icu

#5261 [ fix #5233 ] forgotten highlighting for dot patterns
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  test/interaction/Highlighting.agda
  test/interaction/Highlighting.out
Labels: dot-patterns, highlighting

#5256 [ doc ] workaround for setting fixity of operators in telescopes
  doc/user-manual/language/mixfix-operators.lagda.rst
Labels: documentation, status: ready

#4084 [ re #4041 ] internalising the inspect idiom
  CHANGELOG.md
  doc/user-manual/getting-started/a-taste-of-agda.lagda.rst
  doc/user-manual/language/with-abstraction.lagda.rst
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Pattern.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/Generic.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Abstract.hs
  src/full/Agda/TypeChecking/CheckInternal.hs
  src/full/Agda/TypeChecking/Free/Lazy.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/ReconstructParameters.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Abstract.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/With.hs
  test/Fail/Issue5058.err
  test/Fail/Issue5058b.err
  test/Succeed/Issue233.agda
  test/Succeed/Issue4088.agda
  test/Succeed/with-equalities.agda
Labels: bikeshedding, pattern-guards, status: ready, type: enhancement, with
