Repository agda/agda, pull requests merged in 2021-09, with the labels that each got.

#5536 [ fix #5302 ] make 'cabal test' work for part of the test-suite
  .github/workflows/cabal-test.yml
  Agda.cabal
  test/Compiler/Tests.hs
  test/LaTeXAndHTML/Tests.hs
  test/Main.hs
  test/Succeed/Tests.hs
  test/Utils.hs
Labels: test-suite, agda-tests, devx

#5542 Add greek super/subscript characters and z notation composition to ag…
  src/data/emacs-mode/agda-input.el
Labels: type: enhancement, unicode, agda-mode

#5546 [ fix #5545 ] lexer: commit to match at eof
  fix-whitespace.yaml
  src/full/Agda/Syntax/Parser/Literate.hs
  src/full/Agda/Syntax/Parser/LookAhead.hs
  test/Succeed/Issue5545.agda
Labels: lexer

#5550 [ fix #4814 ] print PATH when agda-mode cannot find emacs
  src/agda-mode/Main.hs
Labels: error-reporting, installation, agda-mode

#5559 [ fix #5558 ] add new fatal warning MissingDeclarations
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue5558.agda
  test/Fail/Issue5558.err
Labels: data, interleaved mutual

#5572 [ workflow ] Simplify stack.yml using stack-root output
  .github/workflows/stack.yml
  src/github/workflows/stack.yml
Labels: github-workflows, stack
