Repository agda/agda, pull requests merged in 2021-04, with the labels that each got.

#5311 [ fixed #5288 ] treeless de Bruijn problem "withContextSize"
  src/full/Agda/Compiler/ToTreeless.hs
  test/Compiler/simple/Issue5288.agda
  test/Compiler/simple/Issue5288.out
Labels: compiler-treeless, de-Bruijn

#5320 LaTeX output: preserve spaces in comments.
  CHANGELOG.md
  src/full/Agda/Interaction/Highlighting/LaTeX/Base.hs
  test/LaTeXAndHTML/succeed/Issue1062.quick.tex
  test/LaTeXAndHTML/succeed/Issue1062.tex
  test/LaTeXAndHTML/succeed/Issue2019.quick.tex
  test/LaTeXAndHTML/succeed/Issue2019.tex
  test/LaTeXAndHTML/succeed/Issue2401.quick.tex
  test/LaTeXAndHTML/succeed/Issue2401.tex
  test/LaTeXAndHTML/succeed/LaTeX-succeed.quick.tex
  test/LaTeXAndHTML/succeed/LaTeX-succeed.tex
  test/LaTeXAndHTML/user-manual/acmart-pdflatex.quick.tex
  test/LaTeXAndHTML/user-manual/acmart-pdflatex.tex
  test/LaTeXAndHTML/user-manual/acmart-xelatex.quick.tex
  test/LaTeXAndHTML/user-manual/acmart-xelatex.tex
  test/LaTeXAndHTML/user-manual/article-luaxelatex-different-fonts.quick.tex
  test/LaTeXAndHTML/user-manual/article-luaxelatex-different-fonts.tex
  test/LaTeXAndHTML/user-manual/article-luaxelatex.quick.tex
  test/LaTeXAndHTML/user-manual/article-luaxelatex.tex
  test/LaTeXAndHTML/user-manual/article-pdflatex.quick.tex
  test/LaTeXAndHTML/user-manual/article-pdflatex.tex
  test/LaTeXAndHTML/user-manual/beamer-luaxelatex.quick.tex
  test/LaTeXAndHTML/user-manual/beamer-luaxelatex.tex
  test/LaTeXAndHTML/user-manual/beamer-pdflatex.quick.tex
  test/LaTeXAndHTML/user-manual/beamer-pdflatex.tex
Labels: backend:latex

#5319 [ fix #1145 ] Stack layout kewords
  CHANGELOG.md
  doc/user-manual/language/lexical-structure.lagda.rst
  src/full/Agda/Syntax/Parser/Layout.hs
  src/full/Agda/Syntax/Parser/Layout.hs-boot
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Monad.hs
  src/full/Agda/Syntax/Parser/Tokens.hs
  test/Fail/Issue1145.agda
  test/Fail/Issue1145.err
  test/Fail/Issue1145b.agda
  test/Fail/Issue1145b.err
  test/Succeed/Issue1145.agda
Labels: layout, type: enhancement

#5338 [ fix #4729 ] limit github on.push to master, issue*, release*
  .github/workflows/cabal.yml
  .github/workflows/haddock.yml
  .github/workflows/lint.yaml
  .github/workflows/stack.yml
  .github/workflows/test.yml
  .github/workflows/user_manual.yml
  .github/workflows/whitespace.yml
Labels: github-workflows

#5344 [ fixed #5339 ] Allow duplicate constructors in constructor block
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Types.hs
  test/Fail/Issue2858-codata.err
  test/Fail/Issue2858-conflict.err
  test/Succeed/Issue5339.agda
Labels: interleaved mutual

#5345 [ workflow ] Run `make test-size-solver` right after building Agda
  .github/workflows/test.yml
Labels: github-workflows

#5330 [ fix #5236 ] `constructor` no layout keyword in `record ... where`
  src/full/Agda/Syntax/Parser/Layout.hs
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Syntax/Parser/LexActions.hs-boot
  src/full/Agda/Syntax/Parser/Monad.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  test/Fail/issue5072.err
  test/Succeed/Issue5236.agda
Labels: interleaved mutual, layout
