Repository agda/agda, pull requests merged in 2022-10, with the labels that each got.

#6158 Fix #6157: remove dead ETel constructor from syntax
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
Labels: type: task

#6167 Fix #6165 by not insisting on `builtinSet` in the scope checker
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  test/Succeed/Issue6165.agda
Labels: scope, builtin, record constructors

#6159 Separate ".(IsOne φ)→A" and "Partial φ A"
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/Syntax/Translation/ReflectedToAbstract.hs
  src/full/Agda/TypeChecking/Abstract.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Primitive/Base.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/SyntacticEquality.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/Fail/Issue4768.err
  test/Fail/Issue6015.agda
  test/Fail/Issue6015.err
Labels: cubical

#6171 re #6073: treat Sub A i1 x as singleton
  src/full/Agda/TypeChecking/Primitive/Cubical/Base.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Base.hs-boot
  src/full/Agda/TypeChecking/Records.hs
  test/Succeed/Issue6073.agda
Labels: type: bug, cubical, singleton-types

#6175 Fix Agda input giving two characters at the same time for few of the inputs
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs, regression on master

#6176 Move `\langle` and `\rangle` to be the first choices for `\<` and `\>`
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs, regression on master

#6193 Re #6187: Agda.Utils.List.findOverlap: complexity and QuickCheck property
  src/full/Agda/Utils/List.hs
  test/Internal/Utils/List.hs
Labels: infra: test suite

#6213 re #6060: remove partial matching on trFillTel
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  test/Fail/Issue6060.agda
  test/Fail/Issue6060.err
Labels: type: bug, cubical

#6214 Fix #5702: DefP can't cover VarP
  src/full/Agda/TypeChecking/Coverage/Match.hs
  test/interaction/PartialHigherSplit.agda
  test/interaction/PartialHigherSplit.in
  test/interaction/PartialHigherSplit.out
Labels: type: bug, coverage, cubical

#6219 re #6047: Just enough injectivity with --cubical
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Injectivity.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Substitute.hs
  test/Succeed/Issue6047.agda
Labels: type: bug, injectivity, cubical

#6218 re #6017: add a Call for IApplyConfluence
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/IApplyConfluence.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Trace.hs
  src/full/Agda/TypeChecking/Pretty/Call.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  test/Fail/IApplyConfluence.err
  test/Fail/Issue3572.err
  test/Fail/Issue5838.err
  test/Fail/Issue5838b.err
  test/Fail/Issue6017.agda
  test/Fail/Issue6017.err
  test/Fail/Issue6108.err
  test/Fail/PathWithBoundary.err
  test/interaction/Issue4679.out
Labels: type: enhancement, ux: error reporting, cubical

#6226 [ doc ] added new main developer Amelia
  LICENSE
  doc/user-manual/team.rst
Labels: ux: documentation, not-in-changelog

#6230 Close #6001 by test case for OP
  test/Succeed/Issue6001.agda
Labels: pattern matching, meta, without-K

#6223 [ re #4522 ] Add documentation for `--no-qualified-instances`
  doc/user-manual/language/instance-arguments.lagda.rst
  doc/user-manual/tools/command-line-options.rst
Labels: instance, ux: options, ux: documentation

#6233 Re #5462: point to pragma NOT_PROJECTION_LIKE in error message
  src/full/Agda/TypeChecking/Rewriting.hs
  test/Fail/Issue5462.err
Labels: ux: error reporting, rewriting, projection-like

#6237 Fixed example given in the Precedence section of documentation
  doc/user-manual/language/mixfix-operators.lagda.rst
Labels: ux: documentation, operators

#6247 Fix #5427 (revisited): add --(no-)subtyping to the dead options
  src/full/Agda/Interaction/Options/Base.hs
  test/Fail/GuardednessPreservingTypeConstructors.err
  test/Fail/Issue1918.err
  test/Fail/Issue3986.agda
  test/Fail/Issue3986.err
Labels: ux: options

#6232 Docs for Cubical indexed types
  CHANGELOG.md
  doc/user-manual/language/cubical.lagda.rst
Labels: ux: documentation, user-manual

#6249 rename hie.yaml → hie-stack.yaml; ignore hie.yaml
  .github/workflows/test.yml
  .gitignore
  hie-stack.yaml
  src/github/workflows/test.yml
Labels: devx

#6239 #6238: Allow flat matching on inductive families
  CHANGELOG.md
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify/LeftInverse.hs
  src/full/Agda/TypeChecking/Serialise.hs
  test/Fail/Issue6238-noK.agda
  test/Fail/Issue6238-noK.err
  test/Fail/Issue6238-safe.agda
  test/Fail/Issue6238-safe.err
  test/Fail/Issue6238.agda
  test/Fail/Issue6238.err
  test/Succeed/Issue6220.agda
  test/Succeed/Issue6238.agda
  test/interaction/Debug.out
Labels: cubical, flat

#6248 Fixed #6244: --no-load-primitives is not --safe
  doc/user-manual/language/safe-agda.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
  test/Fail/Issue6244.agda
  test/Fail/Issue6244.err
Labels: builtin, safe, not-in-changelog

#6253 [ doc ] option archeology: when was which Agda option added
  doc/user-manual/getting-started/installation.rst
  doc/user-manual/tools/command-line-options.rst
  doc/user-manual/tools/generating-latex.rst
Labels: ux: options, ux: documentation

#6254 [ doc ] use :option: syntax where possible, cosmetics
  doc/user-manual/language/built-ins.lagda.rst
  doc/user-manual/language/cubical-compatible.rst
  doc/user-manual/language/cubical.lagda.rst
  doc/user-manual/language/cumulativity.lagda.rst
  doc/user-manual/language/flat.lagda.rst
  doc/user-manual/language/function-definitions.lagda.rst
  doc/user-manual/language/instance-arguments.lagda.rst
  doc/user-manual/language/pragmas.lagda.rst
  doc/user-manual/language/reflection.lagda.rst
  doc/user-manual/language/rewriting.lagda.rst
  doc/user-manual/language/runtime-irrelevance.lagda.rst
  doc/user-manual/language/safe-agda.lagda.rst
  doc/user-manual/language/sort-system.lagda.rst
  doc/user-manual/language/universe-levels.lagda.rst
  doc/user-manual/language/without-k.lagda.rst
  doc/user-manual/team.rst
  doc/user-manual/tools/command-line-options.rst
  doc/user-manual/tools/generating-html.rst
  doc/user-manual/tools/interface-files.rst
  doc/user-manual/tools/package-system.rst
Labels: ux: options, ux: documentation, user-manual

#6255 Help/doc: neither --sized-types nor --guardedness is default
  doc/user-manual/language/safe-agda.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
Labels: sized types, ux: options, ux: documentation, guardedness

#6236 re #5448: check that clause target type is usable at modality
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Errors.hs-boot
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/MetaVars/Mention.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Constraint.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/LHS/Problem.hs
  src/full/Agda/TypeChecking/Rules/LHS/ProblemRest.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Substitute.hs
  test/Fail/Issue4638-2.err
  test/Fail/Issue4748c.err
  test/Fail/Issue4784b.err
  test/Fail/Issue5410-3.err
  test/Fail/Issue5410-4.err
  test/Fail/Issue5434-1.err
  test/Fail/Issue5434-2.err
  test/Fail/Issue5434-3.err
  test/Fail/Issue5434-4.err
  test/Fail/Issue5448-1.err
  test/Fail/Issue5448-2.err
  test/Fail/Issue5448-3.err
  test/Fail/Issue5448-4-noK.agda
  test/Fail/Issue5448-4-noK.err
  test/Fail/Issue5448-4.err
  test/Fail/Issue5468.err
  test/Fail/Issue5920a.err
  test/Fail/Issue5920b.err
Labels: ux: error reporting, without-K, cubical, erasure

#6259 [ workflows ] deploy: replace deprecated '::set-output'
  .github/workflows/deploy.yml
  src/github/workflows/deploy.yml
Labels: infra: github workflows
