Repository agda/agda, pull requests merged in 2022-12, with the labels that each got.

#6372 Preserve name suggestion when η-expanding metas
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/Issue878.err
  test/interaction/FieldMetaName.agda
  test/interaction/FieldMetaName.in
  test/interaction/FieldMetaName.out
  test/interaction/Issue1365.out
Labels: ux: error reporting, meta

#6373 Doc both PKG_CONFIG_PATH alternatives on MacOS
  doc/user-manual/getting-started/installation.rst
Labels: ux: installation, ux: documentation, text-icu, pr: squash-me

#6366 Reflection ffi pragmas
  doc/release-notes/2.6.4.md
  doc/user-manual/language/reflection.lagda.rst
  src/data/lib/prim/Agda/Builtin/Reflection.agda
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Pragmas.hs
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Monad/State.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Compilers.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/Compiler/simple/ReflectionPragmaCompile.agda
  test/Compiler/simple/ReflectionPragmaCompile.out
  test/Compiler/simple/ReflectionPragmaForeign.agda
  test/Compiler/simple/ReflectionPragmaForeign.options
  test/Compiler/simple/ReflectionPragmaForeign.out
Labels: backend: ghc, reflection, pr: squash-me

#6375 Small modifications to installation.rst
  doc/user-manual/getting-started/installation.rst
Labels: ux: installation, ux: documentation, pr: squash-me

#6222 #2271 Do not abstract over module parameters in helper functions
  doc/release-notes/2.6.4.md
  src/full/Agda/Interaction/BasicOps.hs
  test/interaction/Issue2271.agda
  test/interaction/Issue2271.in
  test/interaction/Issue2271.out
Labels: ux: generate helper, ux: interaction

#6345 Fix #6333 Detect incorrect options in agda-lib files
  src/full/Agda/Interaction/Imports.hs
  test/interaction/Issue6333.agda
  test/interaction/Issue6333.out
  test/interaction/Issue6333.sh
  test/interaction/Issue6333/BRM.agda
  test/interaction/Issue6333/br.agda-lib
Labels: ux: error reporting, ux: options, ux: library management

#6363 Agda.Utils.Size: new natSize :: a -> Peano
  Agda.cabal
  src/full/Agda/Auto/Auto.hs
  src/full/Agda/Syntax/Abstract/Name.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/SanityCheck.hs
  src/full/Agda/Syntax/TopLevelModuleName.hs
  src/full/Agda/Syntax/Translation/ReflectedToAbstract.hs
  src/full/Agda/TypeChecking/CompiledClause/Compile.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Free/Lazy.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Positivity/Occurrence.hs
  src/full/Agda/TypeChecking/Pretty.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Reduce/Fast.hs
  src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/Utils/Permutation.hs
  src/full/Agda/Utils/Pretty.hs
  src/full/Agda/Utils/Size.hs
  stack-8.0.2.yaml
  stack-8.2.2.yaml
  stack-9.4.2.yaml
Labels: performance, refactor, pr: squash-me

#6383 Fix #6380: no unusable instance warnings when activating anonymous instances
  src/full/Agda/TypeChecking/Telescope.hs
  test/Fail/Issue2372.err
  test/Succeed/Issue6380.agda
Labels: instance, ux: warnings, regression in 2.6.0

#6387 [ workflows ] test.yml: fix #6386: add Agda.cabal to the cache key
  .github/workflows/test.yml
  src/github/workflows/test.yml
Labels: infra: github workflows

#6382 Update installation instructions in user-manual (ICU, installdir)
  doc/user-manual/getting-started/installation.rst
Labels: ux: installation, user-manual

#6389 Fix #6388: do not cancel test.yml on master
  .github/workflows/test.yml
  src/github/workflows/test.yml
Labels: infra: github workflows

#6346 Fix #6138 Refine the error message about failure of overloaded resolution
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  test/Fail/Issue1944-UnappliedOverloadedProjectionNotRecord.err
  test/Fail/Issue1944-instance.err
  test/Fail/Issue2797.err
  test/Fail/Issue4924.err
Labels: ux: error reporting, overloading, pr: squash-me

#6381 Fix #6379: Improve warnings for invalid instances
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  test/Fail/Issue1003.err
  test/Fail/Issue1273.err
  test/Fail/Issue1967.err
  test/Fail/Issue2348-instance-instance-same-name.err
  test/Fail/Issue2348.err
  test/Fail/Issue2349-instance-hidden.err
  test/Fail/Issue2372.err
  test/Succeed/HidingIsPartOfArgumentNameSince2-5-3.warn
  test/Succeed/Issue1452-warn.warn
  test/Succeed/Polarity-pragma.warn
  test/interaction/Issue2287.out
  test/interaction/Issue2347.out
Labels: ux: error reporting, instance, ux: warnings, pr: squash-me

#6390 fix #6374: allow ambiguous constructors when intro'ing a record
  src/full/Agda/Interaction/BasicOps.hs
  test/interaction/Issue6374.agda
  test/interaction/Issue6374.in
  test/interaction/Issue6374.out
Labels: ambiguous-constructors, ux: interaction

#6397 Fix #6395: Check space character after "type" and "data" when parsing GHC pragma
  src/full/Agda/Compiler/MAlonzo/Pragmas.hs
  test/Compiler/simple/Issue6395.agda
  test/Compiler/simple/Issue6395.options
  test/Compiler/simple/Issue6395.out
Labels: type: bug, backend: ghc, pragma

#6347 Fix #6261: New pragma `--trace-imports`
  doc/release-notes/2.6.4.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Options/Base.hs
  test/interaction/Issue6261.agda
  test/interaction/Issue6261.out
  test/interaction/Issue6261.sh
  test/interaction/Issue6261a.agda
  test/interaction/Issue6261b.agda
  test/interaction/Issue6261c.agda
Labels: ux: options, pr: squash-me

#6412 Fix #6411: remove hlint workflow
  .github/workflows/lint.yaml
  src/github/workflows/lint.yaml
Labels: infra: github workflows
