Repository agda/agda, pull requests merged in 2022-05, with the labels that each got.

#5888 [ build ] tweaking build options
  Makefile
Labels: Makefile

#5892 Fix #5891: Postponable check that data isn't IUniv, SizeUniv,…
  src/full/Agda/Interaction/Base.hs
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/MetaVars/Mention.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Constraints.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/TypeChecking/Pretty/Constraint.hs
  src/full/Agda/TypeChecking/Primitive/Base.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Data.hs-boot
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Substitute.hs
  test/Fail/IUnivData.err
  test/Fail/IUnivRecord.err
  test/Fail/Issue2285-record.err
  test/Fail/Issue2285.err
  test/Fail/Issue5891.agda
  test/Fail/Issue5891.err
  test/Fail/Issue5891DataInIUniv.agda
  test/Fail/Issue5891DataInIUniv.err
  test/Fail/LargeIndicesWithoutK.err
  test/Succeed/Issue5891DataOfPiSort.agda
Labels: type: bug, sorts, false, data

#5895 Fix #5728: proper error on misplaced ellipsis rather than internal error
  src/full/Agda/TypeChecking/Rules/Def.hs
  test/Fail/Issue5728.agda
  test/Fail/Issue5728.err
Labels: ellipsis, internal-error

#5909 [ workflows ] try to fix stack/Win (ICU again)
  .github/workflows/stack.yml
  src/github/workflows/stack.yml
Labels: platform:windows, github-workflows, stack

#5906 Provenance of where modules in Internal syntax.
  src/full/Agda/Auto/Auto.hs
  src/full/Agda/Auto/Convert.hs
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Functions.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Substitute.hs
Labels: where

#5916 User-manual: small improvements to section on `postulate`
  doc/user-manual/language/postulates.lagda.rst
  doc/user-manual/unicode-symbols-sphinx.tex.txt
Labels: postulate, user-manual

#5919 Re #5901: setup agda-mode: don't --no-site-file with --user
  src/agda-mode/Main.hs
Labels: emacs, installation, agda-mode

#5927 Close #5918 (doc copatterns)
  doc/user-manual/language/coinduction.lagda.rst
  doc/user-manual/language/copatterns.lagda.rst
Labels: copatterns, documentation
