Repository agda/agda, pull requests merged in 2022-02, with the labels that each got.

#5772 Fix #5659: port `instance Monad (TCMT m)` to `transformers-0.6`
  Agda.cabal
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Base.hs-boot
Labels: hackage, cabal

#5779 Re #5773: workflows/deploy/windows: install ICU via pacman
  .github/workflows/deploy.yml
  src/github/workflows/deploy.yml
Labels: github-workflows, text-icu

#5792 Pretty-print constraints in JSON interaction
  src/full/Agda/Interaction/JSONTop.hs
Labels: interaction-json
