Repository agda/agda, pull requests merged in 2022-03, with the labels that each got.

#5814 [ fix #5807 ] Clarify --irrelevant-projections and irrAx.
  doc/user-manual/language/irrelevance.lagda.rst
Labels: irrelevance, documentation, irrelevant-projections

#5826 CI deploy/mac: bump ICU version
  .github/workflows/deploy.yml
  src/github/workflows/deploy.yml
Labels: github-workflows, platform:macOS

#5829 Re #5822: only silence stack when running ghc through it
  mk/ghc.mk
  mk/stack.mk
Labels: test-suite, stack

#5830 An optimisation
  src/full/Agda/TypeChecking/Irrelevance.hs
Labels: performance, irrelevance, experimental-irrelevance

#5815 Fix #5809: retain parameters for irrelevant projections.
  src/full/Agda/TypeChecking/CheckInternal.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Positivity.hs
  src/full/Agda/TypeChecking/ProjectionLike.hs
  src/full/Agda/TypeChecking/ReconstructParameters.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  test/Fail/Issue543.agda
  test/Fail/Issue543.err
  test/Fail/Issue543a.agda
  test/Fail/Issue543a.err
  test/Succeed/Issue5809.agda
Labels: parameters, irrelevant-projections, regression in 2.6.1

#5827 Fix #957: Agsy copattern support
  src/full/Agda/Auto/CaseSplit.hs
  src/full/Agda/Auto/Convert.hs
  src/full/Agda/Auto/Syntax.hs
  src/full/Agda/Auto/Typecheck.hs
  test/interaction/Issue957.agda
  test/interaction/Issue957.in
  test/interaction/Issue957.out
Labels: type: enhancement, auto, copatterns

#5844 Fix #5823: checking for loops when constructing singleton inhabitant
  src/full/Agda/Syntax/Internal/Defs.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Termination/Monad.hs
  src/full/Agda/Termination/RecCheck.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Records.hs
  src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  test/Fail/Issue5819.err
  test/Fail/Issue5823.agda
  test/Fail/Issue5823.err
  test/Fail/SizedBTree.err
  test/Succeed/Issue5823.agda
Labels: termination, eta, records, singleton-types

#5852 [ stack ] Bumped to lts-19.0 for GHC 9.0.2.
  stack-9.0.2.yaml
Labels: stack

#5853 Fix #5850: warn about hiding in e.g. `variable {x} : A`
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Succeed/Generalize.warn
  test/Succeed/Issue3108.warn
  test/Succeed/Issue3115.warn
  test/Succeed/Issue3306.warn
Labels: hidden-arguments, warnings, generalize

#5855 Makefile: restore cubical-test: pass AGDA_BIN instead of AGDA_EXEC
  Makefile
Labels: test-suite, cubical, Makefile

#5846 Fix #5838: update Cubical reductions according to Simon Huber
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  test/Fail/Issue5838.agda
  test/Fail/Issue5838.err
  test/Fail/Issue5838b.agda
  test/Fail/Issue5838b.err
Labels: false, cubical
