Repository agda/agda, pull requests merged in 2022-08, with the labels that each got.

#6014 Do not construct a full map when finding a single name
  src/full/Agda/Syntax/Scope/Base.hs
Labels: scope, performance, names

#6021 Fix #6011: explicit error on garbage BUILTIN REWRITE
  src/full/Agda/TypeChecking/Primitive/Base.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  test/Fail/Issue6011.agda
  test/Fail/Issue6011.err
Labels: rewriting

#6023 Bump cabal.yml workflow to GHC 9.4.1
  .github/workflows/cabal.yml
  Agda.cabal
  src/github/workflows/cabal.yml
Labels: ghc-9.4

#6028 Add mathematical bold letter shortcuts
  src/data/emacs-mode/agda-input.el
Labels: type: enhancement, agda-mode

#6030 CI: Use known-good version of ICU on windows
  .github/workflows/stack.yml
  src/github/workflows/stack.yml
Labels: platform:windows, github-workflows

#6032 Restrict type of equivProof; Remove primIdJ; Rename ouc→outS everywhere
  doc/user-manual/language/cubical.lagda.rst
  src/data/JS/agda-rts.js
  src/data/lib/prim/Agda/Builtin/Cubical/Glue.agda
  src/data/lib/prim/Agda/Builtin/Cubical/HCompU.agda
  src/data/lib/prim/Agda/Builtin/Cubical/Id.agda
  src/data/lib/prim/Agda/Builtin/Cubical/Sub.agda
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  test/Common/Path.agda
  test/Compiler/simple/Erased-cubical.agda
  test/Fail/Issue3577.agda
  test/Fail/Issue3577.err
  test/Fail/Issue5838.agda
  test/Fail/Issue5838.err
  test/Fail/Issue5838b.agda
  test/Fail/Issue5838b.err
  test/Succeed/CubicalPrims.agda
  test/Succeed/Issue2846.agda
  test/Succeed/Issue3399.agda
  test/Succeed/Issue3577.agda
  test/Succeed/Issue5955.agda
Labels: type: enhancement, cubical

#6034 Clean up cubical primitives
  Agda.cabal
  src/full/Agda/Compiler/Common.hs
  src/full/Agda/Syntax/Position.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Base.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Glue.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/HCompU.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Id.hs
  src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs
  src/full/Agda/TypeChecking/Rewriting/NonLinPattern.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  test/Succeed/CubicalPrims.agda
  test/interaction/Issue4679.out
Labels: type: enhancement, type: task, cubical

#6045 [ workflows ] bump fix-whitespace to 0.0.10
  .github/workflows/whitespace.yml
  src/github/workflows/whitespace.yml
Labels: github-workflows

#5978 [ re #5399 #3699 ] Add primitives `tcDeclareData`, `tcDefineData`, and a syntax for declaring top-level datatype definitinons by metaprograms
  doc/user-manual/language/reflection.lagda.rst
  src/data/lib/prim/Agda/Builtin/Reflection.agda
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Types.hs
  src/full/Agda/Syntax/Concrete/Fixity.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs-boot
  src/full/Agda/TypeChecking/Unquote.hs
  test/Succeed/UnquoteDeclData.agda
Labels: reflection, data

#6052 Fix a probable typo in changelog (`ISet` -> `IUniv`)
  CHANGELOG.md
Labels: documentation

#6065 add \sqrt as an alias for \surd
  src/data/emacs-mode/agda-input.el
Labels: emacs

#6062 Add some missing arrows to input mode
  src/data/emacs-mode/agda-input.el
Labels: emacs

#6069 Fix #6059: inconsistency in the termination order
  src/full/Agda/Termination/TermCheck.hs
  test/Fail/Issue6059.agda
  test/Fail/Issue6059.err
Labels: language: termination, bug: false
