Repository agda/agda, pull requests merged in 2022-04, with the labels that each got.

#5879 [ .cabal ] Added new `-Wredundant-bang-patterns` warning (since GHC 9.2.2)
  .ghci-9.2.2
  Agda.cabal
  src/full/Agda/TypeChecking/Reduce/Fast.hs
Labels: type: enhancement, warnings, ghc-9.2.2

#5872 [ opt ] cubical: BoolSet for Set Bool and IntMap for Map Int
  Agda.cabal
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/Utils/BoolSet.hs
Labels: performance, refactor, cubical

#5691 `closed-issues-for-milestone`: Efficient retrieval of milestone (needs unreleased `github-0.28`)
  src/release-tools/closed-issues-for-milestone/Main.hs
  src/release-tools/closed-issues-for-milestone/closed-issues-for-milestone.cabal
Labels: closed-issues-for-milestone
