Repository agda/agda, pull requests merged in 2022-07, with the labels that each got.

#5980 Minor deserialisation optimisations
  Agda.cabal
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Base.hs
Labels: type: enhancement, performance, serialization

#5977 Use a hashmap lookup for decoding warning names
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
Labels: performance, serialization, warnings

#5987 [ workflows ] test.yml should only depend on itself from .github/
  .github/workflows/test.yml
  src/github/workflows/test.yml
Labels: github-workflows

#5984 More efficient encoding of maps in interface files
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Highlighting.hs
Labels: type: enhancement, performance, serialization

#5988 [ workflows ] Check for json2yaml-0.11.8.0 when `make`ing the `.yml` files
  .github/workflows/Makefile
  .github/workflows/stack.yml
Labels: github-workflows

#5991 Fix #5989: also track names (and metas) in tactic arguments
  src/full/Agda/Syntax/Internal/MetaVars.hs
  src/full/Agda/Syntax/Internal/Names.hs
  test/Succeed/Issue5989.agda
  test/Succeed/Issue5989/Import.agda
Labels: tactic, dead-code
