Repository agda/agda, pull requests merged in 2022-11, with the labels that each got.

#6275 Put a warning to every breaking change
  CHANGELOG.md
Labels: not-in-changelog

#6284 Fix #6283: build with mtl-2.3.1
  cabal.project.local.mtl23
  src/full/Agda/Compiler/MAlonzo/HaskellTypes.hs
  src/full/Agda/TypeChecking/IApplyConfluence.hs
  src/full/Agda/TypeChecking/Injectivity.hs
  src/full/Agda/TypeChecking/Monad/Context.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Base.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/HCompU.hs
  src/full/Agda/TypeChecking/Warnings.hs
Labels: dependencies

#6299 re #6298: consider also arguments when checking modality at LHS
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify/LeftInverse.hs
  test/Fail/Issue5448-1.err
  test/Fail/Issue5448-2.err
  test/Fail/Issue5448-3.err
  test/Fail/Issue5448-4-noK.err
  test/Fail/Issue5448-4.err
  test/Fail/Issue5468.err
  test/Fail/Issue6298.agda
  test/Fail/Issue6298.err
  test/Succeed/Issue6298.agda
Labels: cubical

#6301 Doc: fix 2 typos in installation instructions
  doc/user-manual/getting-started/installation.rst
Labels: ux: documentation

#6302 Fix #6285: Bump to GHC 9.4.3 (CI and tested-with docs)
  .github/workflows/cabal.yml
  .github/workflows/stack.yml
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/getting-started/installation.rst
  src/github/workflows/cabal.yml
  src/github/workflows/stack.yml
  stack-9.4.3.yaml
Labels: infra: github workflows, ghc-9.4

#6315 Update HACKING instructions
  HACKING.md
Labels: ux: documentation, devx

#6323 Fix release sh
  release.sh
Labels: devx, release

#6322 Embrace git switch/restore
  HACKING.md
  notes/agda-future-branch-releases.txt
  notes/agda-releases-candidates.txt
  notes/agda-releases.txt
Labels: devx

#6314 #3227: constructor disambiguation also looks at arguments
  src/full/Agda/TypeChecking/Rules/Application.hs
  test/Fail/Issue357.err
  test/Fail/LostTypeError.agda
  test/Fail/LostTypeError.err
  test/Fail/LostTypeError2.agda
  test/Fail/LostTypeError2.err
  test/Succeed/InductiveAndCoinductiveConstructors.agda
  test/Succeed/Issue3227.agda
  test/Succeed/Issue357.agda
Labels: ambiguous-constructors, type-checking

#6341 Bump stack-9.4.3.yaml to nightly-2022-11-19
  stack-9.4.3.yaml
Labels: stackage, stack, ghc-9.4

#6340 Document `--two-level`
  doc/user-manual/language/index.rst
  doc/user-manual/language/two-level.lagda.rst
Labels: ux: documentation, 2ltt

#6313 re #6298: Only consider arguments mentioned by the result type
  doc/user-manual/language/cubical.lagda.rst
  src/full/Agda/TypeChecking/Rules/LHS.hs
  test/Succeed/Issue6298-b.agda
  test/Succeed/Issue6298-c.agda
  test/Succeed/Issue6298-d.agda
Labels: cubical, modalities

#6356 Fix #6355: explicit imports from mtl; test mtl-2.3 in CI cabal.yml
  .github/workflows/cabal.yml
  cabal.project.tc
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/github/workflows/cabal.yml
Labels: build-failure, infra: github workflows

#6357 Re #5659: no need to exclude transformers-0.6.0.0/1/2 on GHC 8.6
  Agda.cabal
  cabal.project.tc
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Base.hs-boot
Labels: ghc-8.6.5, dependencies

#6353 Document coinductive constructor restrictions
  doc/user-manual/language/coinduction.lagda.rst
Labels: coinduction, ux: documentation

#6352 doc: Rename natEquals to _≡ᵇ_
  doc/user-manual/language/instance-arguments.lagda.rst
  doc/user-manual/unicode-symbols-sphinx.tex.txt
Labels: user-manual

#6362 CI: Whitespace: use andreasabel/fix-whitespace-action
  .github/workflows/whitespace.yml
  src/github/workflows/whitespace.yml
Labels: infra: github workflows

#6358 Fix #5258 #5887 CI test.yml: remove `stack.yaml.lock` from cache-key
  .github/workflows/test.yml
  Makefile
  src/github/workflows/test.yml
Labels: infra: github workflows
