Repository agda/agda, pull requests merged in 2022-09, with the labels that each got.

#6063 add mathematical bold greek letters
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs, unicode

#6092 Some potential optimisations
  Agda.cabal
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Termination/Monad.hs
  src/full/Agda/Termination/RecCheck.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Coverage/Match.hs
  src/full/Agda/TypeChecking/Forcing.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/IApplyConfluence.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Rewriting/Confluence.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify/Types.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/Telescope.hs
  src/full/Agda/Utils/Graph/TopSort.hs
  src/full/Agda/Utils/List.hs
  src/full/Agda/Utils/Monad.hs
  src/full/Agda/Utils/Permutation.hs
  src/full/Agda/Utils/Singleton.hs
  test/Fail/Issue921.err
  test/Fail/TerminationWithInsufficientDepth.err
  test/Internal/Utils/Permutation.hs
Labels: performance

#6115 Fix #6108: higher constructors are not guardedness-preserving
  src/full/Agda/Syntax/Internal/Elim.hs
  src/full/Agda/Termination/TermCheck.hs
  test/Fail/Issue6108.agda
  test/Fail/Issue6108.err
Labels: hits, guardedness

#6133 Fix #6132: exclude Sphinx 5.2.0.post0
  doc/user-manual/requirements.txt
Labels: user-manual

#6131 Re #4723: better error (WAS: crash due to incomplete record update)
  src/full/Agda/Syntax/Concrete/Pattern.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  test/Fail/Issue4723.agda
  test/Fail/Issue4723.err
Labels: ellipsis

#6089 Document LuaLaTeX fallback fonts
  doc/user-manual/tools/generating-latex.rst
Labels: backend: latex, ux: documentation

#6150 Fix #5794: Auto: "no solutions" rather than de Bruijn crash
  src/full/Agda/Auto/Typecheck.hs
  test/interaction/Issue5794.agda
  test/interaction/Issue5794.in
  test/interaction/Issue5794.out
Labels: auto, de-Bruijn

#6151 Fix #6095: allow ambiguous pattern synonyms in `checkForClashes`.
  src/full/Agda/Syntax/Scope/Monad.hs
  test/Succeed/Issue6095.agda
Labels: pattern-synonyms, ambiguous-names

#6153 Re #6001: Hard error when hcomp is tried on possibly non-fibrant type
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  test/Fail/Issue5730-without-k.err
  test/Fail/Issue6001.agda
  test/Fail/Issue6001.err
Labels: coverage, cubical, internal-error

#6152 Fix #6022 crudely: do not subject primitives to dead-code removal
  src/full/Agda/TypeChecking/DeadCode.hs
  src/full/Agda/TypeChecking/Serialise.hs
  test/Fail/Issue6022.agda
  test/Fail/Issue6022.err
  test/Fail/Issue6022/Cubical.agda
Labels: builtin, cubical, dead-code
