Repository agda/agda, pull requests merged in 2023-09, with the labels that each got.

#6796 [ fix #6759 ] Promote flexible metas if --lossy-unification is enabled
  src/full/Agda/TypeChecking/MetaVars/Occurs.hs
Labels: meta, lossy unification

#6789 [ fix #6787 ] locally override without-k
  src/full/Agda/Interaction/BasicOps.hs
  test/interaction/Issue6787-1.agda
  test/interaction/Issue6787-1.in
  test/interaction/Issue6787-1.out
  test/interaction/Issue6787-2.agda
  test/interaction/Issue6787-2.in
  test/interaction/Issue6787-2.out
  test/interaction/Issue6787-3.agda
  test/interaction/Issue6787-3.in
  test/interaction/Issue6787-3.out
Labels: type: enhancement, ux: interaction, without-K

#6821 Fix search on readthedocs.org
  doc/user-manual/conf.py
  doc/user-manual/requirements.txt
Labels: ux: documentation

#6811 #6802: Forget about opacity when complaining about an unaffected definition
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Succeed/Issue6802.agda
  test/Succeed/Issue6802.warn
  test/Succeed/Issue6802a.agda
  test/Succeed/Issue6802a.warn
Labels: opaque

#6827 Fix #6805: Propagate surrounding opacity to type signatures
  src/full/Agda/Syntax/Concrete/Definitions/Types.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Fail/Issue6805.agda
  test/Fail/Issue6805.err
Labels: opaque

#6826 Fix #6823: add ranges to the names lacking a definition
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/Syntax/Concrete/Definitions/Monad.hs
  test/Fail/ImplicitMutualInterleavedMutual.err
  test/Fail/ImplicitMutualMutual.err
  test/Fail/ImplicitMutualOpaque.err
  test/Fail/Issue3932-2.err
  test/Fail/Issue3932.err
  test/Fail/MissingDefinitions.agda
  test/Fail/MissingDefinitions.err
Labels: ux: error reporting, range, nice

#6831 Fix #6829: "pattern variable shadows constructor" for record constructors
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/TypeChecking/Datatypes.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  test/Fail/PatternShadowsRecordConstructor.agda
  test/Fail/PatternShadowsRecordConstructor.err
  test/Succeed/PatternShadowsRecordConstructor.agda
Labels: pattern matching, ux: error reporting, record constructors

#6834 Fix #6829 also for record constructors not explicitly marked as `pattern`
  src/full/Agda/TypeChecking/Datatypes.hs
  test/Fail/PatternShadowsRecordConstructor2.agda
  test/Fail/PatternShadowsRecordConstructor2.err
Labels: pattern matching, shadowing, record constructors

#6835 Cosmetics: e.g. use \case
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Datatypes.hs
  src/full/Agda/TypeChecking/Positivity.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
Labels: style

#6828 Fix #6807: Add UnfoldingDecl to Eq Declaration instance
  src/full/Agda/Syntax/Abstract.hs
  test/interaction/Issue6807.agda
  test/interaction/Issue6807.hs
  test/interaction/Issue6807.out
Labels: opaque

#6851 .gitignore `make test`-generated files
  .gitignore
  test/interaction/Issue6261a.out
  test/interaction/Issue6261b.out
  test/interaction/Issue6261c.out
Labels: infra: test suite

#6853 Re #6801: remove unused module TypeChecking.EtaExpand
  Agda.cabal
  src/full/Agda/TypeChecking/EtaExpand.hs
Labels: performance, ux: installation

#6850 Fix concurrency bug in test suite
  HACKING.md
  src/full/Agda/Utils/Environment.hs
  test/Compiler/Tests.hs
  test/Interactive/Tests.hs
  test/LaTeXAndHTML/Tests.hs
  test/Main.hs
  test/Utils.hs
Labels: infra: test suite, pr: squash-me

#6875 manual installation: update Fedora
  doc/user-manual/getting-started/installation.rst
Labels: ux: documentation

#6877 Bump stack CI from GHC 9.4.6 to 9.4.7
  .github/workflows/stack-dry-run.yml
  Agda.cabal
  doc/user-manual/getting-started/installation.rst
  src/github/workflows/stack-dry-run.yml
  src/size-solver/size-solver.cabal
  stack-9.4.7.yaml
  stack-9.6.2.yaml
Labels: infra: github workflows, ghc-9.4

#6879 CI: user_manual.yml: install Tex via setup action
  .github/workflows/user_manual.yml
  src/github/workflows/user_manual.yml
Labels: infra: github workflows, user-manual, pr: squash-me

#6881 [ #3266 ] Modified the test case
  examples/Makefile
Labels: infra: test suite

#6885 Fix #1702: allow `private` in `postulate` blocks
  CHANGELOG.md
  doc/user-manual/language/postulates.lagda.rst
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  test/Fail/Issue1698-postulate.err
  test/Fail/Issue1702.agda
  test/Fail/Issue1702.err
  test/Fail/Issue2645.err
  test/Fail/NoPrivateConstructorsInPublicData.agda
  test/Fail/NoPrivateConstructorsInPublicData.err
  test/Succeed/Issue977.agda
Labels: type: enhancement, private, postulate, pr: squash-me

#6886 Fix for #6856
  src/full/Agda/TypeChecking/Reduce.hs
  test/Succeed/Issue6856.agda
Labels: constraints

#6880 Fix handling of empty code blocks in HTML/MD backend
  src/full/Agda/Interaction/Highlighting/HTML/Base.hs
  test/LaTeXAndHTML/succeed/MdHighlightCode.html
  test/LaTeXAndHTML/succeed/MdHighlightCode.lagda.md
  test/LaTeXAndHTML/succeed/MdHighlightCode.md
Labels: backend: html, literate-agda

#6891 CI Windows ICU install: drop `-y` flag from `pacman` invocation.
  .github/workflows/cabal.yml
  .github/workflows/deploy.yml
  .github/workflows/stack.yml
  src/github/workflows/cabal.yml
  src/github/workflows/deploy.yml
  src/github/workflows/stack.yml
Labels: platform: windows, infra: github workflows, text-icu

#6889 Allow containers-0.7
  .github/workflows/cabal.yml
  Agda.cabal
  src/github/workflows/cabal.yml
Labels: dependencies

#6887 Don't print generalization parameters in helper function 2.0
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Options.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/interaction/Issue2271.agda
  test/interaction/Issue2271.in
  test/interaction/Issue2271.out
Labels: ux: generate helper

#6664 Fixes various syntax errors related to docstrings in agda-mode
  src/data/emacs-mode/agda2-mode.el
Labels: ux: emacs
