Repository agda/agda, pull requests merged in 2023-03, with the labels that each got.

#6520 Bump CI to GHC 9.2.7
  .github/workflows/cabal.yml
  .github/workflows/stack-dry-run.yml
  Agda.cabal
  doc/user-manual/getting-started/installation.rst
  src/github/workflows/cabal.yml
  src/github/workflows/stack-dry-run.yml
  stack-9.2.7.yaml
Labels: ghc-9.2

#6522 New option `--numeric-version` to just print Agda's version number
  CHANGELOG.md
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Main.hs
Labels: ux: options

#6527 Guarded: @lock arguments must mention @lock variable(s)
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete/Attribute.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Lock.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Telescope.hs
  test/Fail/Issue6523.agda
  test/Fail/Issue6523.err
  test/Fail/TickConstants.err
  test/Fail/TickJoin.agda
  test/Fail/TickJoin.err
  test/Fail/TickVariableAfter.agda
  test/Fail/TickVariableAfter.err
  test/Fail/TickVariableAfterTerm.agda
  test/Fail/TickVariableAfterTerm.err
  test/Fail/TickVariablesAfter.agda
  test/Fail/TickVariablesAfter.err
Labels: guarded cubical

#6531 Fix issue #6530
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  test/Compiler/simple/Issue6530.agda
  test/Compiler/simple/Issue6530.options
  test/Compiler/simple/Issue6530.out
Labels: backend: ghc, cubical

#6518 Allow using equivalences in nonerased contexts
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/language/cubical.lagda.rst
  src/data/lib/prim/Agda/Builtin/Cubical/Equiv.agda
  src/data/lib/prim/Agda/Builtin/Cubical/Glue.agda
  src/full/Agda/Interaction/Options/Lenses.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  test/Fail/Erased-cubical-Glue.err
  test/Fail/Issue2788.err
Labels: cubical, erasure, pr: squash-me

#6543 cubical: add boundary scavenging to changelog
  CHANGELOG.md
Labels: type: task

#6545 GH: Use Cabal 3.10 for the cabal-install job
  .github/workflows/cabal-install.yml
  src/github/workflows/cabal-install.yml
Labels: infra: github workflows

#6532 [ doc ] Add CHANGELOG and user-doc on --level-universe
  CHANGELOG.md
  doc/user-manual/language/universe-levels.lagda.rst
  doc/user-manual/tools/command-line-options.rst
Labels: levels, ux: documentation

#6553 Option --version: also print cabal flags used in the build
  Agda.cabal
  CHANGELOG.md
  src/full/Agda/Main.hs
Labels: ux: options, text-icu

#6510 Agda input mode extension: \box prefix for APL boxed characters
  CHANGELOG.md
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs

#6557 Replace genericDocError errors in checkArgs for specific ones
  src/full/Agda/TypeChecking/Rules/LHS.hs
  test/Fail/Issue1202.err
  test/Fail/Issue2935.err
  test/Fail/Issue3074.err
  test/Fail/WrongNumberOfConstructorArguments.err
Labels: type: enhancement, ux: error reporting, refactor

#6561 Replace genericDocError error for MismatchedProjectionsError in compareElims
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/Issue933.err
Labels: ux: error reporting
