Repository agda/agda, pull requests merged in 2023-06, with the labels that each got.

#6678 Fix #6675
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/Issue6675.agda
  test/Fail/Issue6675.err
Labels: scope, rewriting, internal-error

#6681 cosmetics: use applyWhen / INLINE applyWhen
  src/full/Agda/Compiler/JS/Pretty.hs
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Pretty.hs
  src/full/Agda/Compiler/Treeless/Pretty.hs
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/TypeChecking/Implicit.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/Utils/Function.hs
Labels: refactor

#6683 [ workflows ] Bump cabal CI to 9.6.2 and 9.2.8; bump stack*.yaml
  .github/workflows/cabal-install.yml
  .github/workflows/cabal.yml
  .github/workflows/haddock.yml
  src/github/workflows/cabal-install.yml
  src/github/workflows/cabal.yml
  src/github/workflows/haddock.yml
  stack-9.2.7.yaml
  stack-9.4.5.yaml
Labels: infra: github workflows

#6688 Fix #6687 by not labeling CATCHALL clauses as exact
  src/full/Agda/TypeChecking/Coverage.hs
  test/Fail/Issue6687.agda
  test/Fail/Issue6687.err
Labels: termination, exact split, regression in 2.6.1, catch-all

#6691 Remove Delayed clauses/definitions
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Termination/Monad.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Injectivity.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Constraint.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Reduce/Fast.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/Def.hs-boot
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Unquote.hs
Labels: coinduction, type: task, guardedness

#6682 Inlining of constructors as copattern matches
  CHANGELOG.md
  doc/user-manual/language/pragmas.lagda.rst
  doc/user-manual/language/record-types.lagda.rst
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/RecordPatterns.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/Utils/Monad.hs
  test/Bugs/Issue6660-greet-nosig.agda
  test/Bugs/Issue6660-greet-nosig.err
  test/Bugs/Issue6660-sized-Stream.agda
  test/Bugs/Issue6660-sized-Stream.err
  test/Fail/CoinductiveUnitRecord.agda
  test/Fail/CoinductiveUnitRecord.err
  test/Fail/Issue6660-Pair-pattern.agda
  test/Fail/Issue6660-Pair-pattern.err
  test/Fail/Issue6660-data-constructor.agda
  test/Fail/Issue6660-data-constructor.err
  test/Succeed/Issue1551.agda
  test/Succeed/Issue6660-Pair.agda
  test/Succeed/Issue6660-Stream.agda
  test/Succeed/Issue6660-Stream.warn
  test/Succeed/Issue6660-greet-inline-scoping.agda
  test/Succeed/Issue6660-greet.agda
Labels: coinduction, record-expression-to-copatterns, pr: squash-me

#6709 Interaction: print shape-irrelevant hypotheses as such
  src/full/Agda/Interaction/EmacsTop.hs
  test/interaction/Issue3855-8.agda
  test/interaction/Issue3855-8.in
  test/interaction/Issue3855-8.out
Labels: ux: interaction, shape-irrelevance
