Repository agda/agda, pull requests merged in 2023-01, with the labels that each got.

#6416 CI: bump stack and test to GHC 9.4.4
  .github/workflows/stack.yml
  .github/workflows/test.yml
  Agda.cabal
  src/github/workflows/stack.yml
  src/github/workflows/test.yml
  stack-9.2.5.yaml
  stack-9.4.4.yaml
Labels: infra: github workflows

#6419 issue #6415: don't compare reducts of glued values
  src/full/Agda/TypeChecking/Conversion.hs
  test/Fail/Issue6415.agda
  test/Fail/Issue6415.err
Labels: type: bug, conversion, cubical

#3796 [agda2-mode] Use the inheritance attribute when using the 'default-faces
  src/data/emacs-mode/agda2-highlight.el
Labels: ux: emacs, refactor

#6435 Fix #6434: new option `--no-infer-absurd-clauses`
  doc/release-notes/2.6.4.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue6434.agda
  test/Fail/Issue6434.err
  test/interaction/Issue6434.agda
  test/interaction/Issue6434.in
  test/interaction/Issue6434.out
Labels: performance, coverage, ux: case splitting, ux: options, absurd clauses, pr: squash-me

#6437 Rerun hlint --default to generate ignores with # count comments.
  .hlint.yaml
Labels: dev: hlint

#6438 Follow hlint suggestion: use fewer imports.
  .hlint.yaml
  src/full/Agda/Interaction/Highlighting/LaTeX/Base.hs
  src/full/Agda/TypeChecking/Irrelevance.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify/LeftInverse.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify/Types.hs
Labels: style

#6456 [ workflows ] macOS: use $(brew --prefix) for PKG_CONFIG_PATH
  .github/workflows/cabal.yml
  .github/workflows/deploy.yml
  .github/workflows/stack.yml
  src/github/workflows/cabal.yml
  src/github/workflows/deploy.yml
  src/github/workflows/stack.yml
Labels: infra: github workflows, text-icu

#6462 [ workflows ] stack.yml: make ICU_VER part of the cache key
  .github/workflows/stack.yml
  src/github/workflows/stack.yml
Labels: infra: github workflows, text-icu, pr: squash-me

#6463 [ workflows ] test.yml: cache-key include ICU_VER; cache .stack-work
  .github/workflows/test.yml
  src/github/workflows/test.yml
Labels: infra: github workflows

#6464 Hlint, replace flip map with Agda.Utils.Functor.for.
  .hlint.yaml
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/Utils/Graph/AdjacencyMap/Unidirectional.hs
Labels: dev: hlint

#6466 Hlint reset counts and remove last flip map.
  .hlint.yaml
  test/Utils.hs
Labels: dev: hlint

#6459 [ #6325 ] Added `--hidden-argument-puns`
  doc/release-notes/2.6.4.md
  doc/user-manual/language/syntactic-sugar.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Fixity.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/Syntax/Concrete/Operators/Parser.hs
  src/full/Agda/Syntax/Concrete/Pattern.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/DoNotation.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue6325-1.agda
  test/Fail/Issue6325-1.err
  test/Fail/Issue6325-2.agda
  test/Fail/Issue6325-2.err
  test/Fail/Issue6325-3.agda
  test/Fail/Issue6325-3.err
  test/Fail/Issue6325-4.agda
  test/Fail/Issue6325-4.err
  test/Succeed/Issue6325.agda
  test/interaction/Issue6325.agda
  test/interaction/Issue6325.in
  test/interaction/Issue6325.out
Labels: pattern matching, hidden arguments

#6481 [ workflows ] shift workload from stack.yml to cabal.yml
  .github/workflows/cabal.yml
  .github/workflows/stack.yml
  .github/workflows/test.yml
  src/github/workflows/cabal.yml
  src/github/workflows/stack.yml
  src/github/workflows/test.yml
Labels: infra: github workflows
