Repository agda/agda, pull requests merged in 2023-11, with the labels that each got.

#6955 Order instance candidates for getInstances
  src/full/Agda/TypeChecking/InstanceArguments.hs
  test/Succeed/ReflectionInstanceOrdering.agda
Labels: reflection, instance

#6965 User-facing debug printing in reflection also without -fdebug
  src/full/Agda/TypeChecking/Unquote.hs
Labels: reflection, debug

#6967 Add missing changelogs for #6858 and #6955
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  doc/user-manual/tools/generating-html.rst
  doc/user-manual/tools/generating-latex.rst
  doc/user-manual/tools/package-system.rst
Labels: type: task, pr: squash-me

#6977 Fixes issue 6234 by updating documentation for Cubical Agda and removing links
  doc/user-manual/language/cubical.lagda.rst
Labels: cubical, user-manual, pr: squash-me

#6981 Add a note about tc.unquote.decl/def verbosity to user manual
  doc/user-manual/language/reflection.lagda.rst
Labels: reflection, debug, ux: documentation

#6982 #6958: Clarify documentation
  doc/user-manual/language/opaque-definitions.lagda.rst
Labels: ux: documentation, not-in-changelog, opaque

#6986 CI deploy breaks with GHC 9.4.8 so stay on 9.4.7
  .github/workflows/deploy.yml
  src/github/workflows/deploy.yml
Labels: infra: github workflows

#6985 Ad #6863: update `agda --version` output to new cabal flags
  src/full/Agda/Main.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
Labels: debug, build

#6987 Data Error Refactor
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
Labels: ux: error reporting, refactor

#6995 [ emacs ] `string-trim` to combat recent change in `pp.el` adding newlines
  src/data/emacs-mode/agda2-mode.el
Labels: ux: emacs

#7007 [emacs] Drop dependency on pp module
  src/data/emacs-mode/agda2-mode.el
Labels: ux: emacs

#7004 Add documentation for interactive highlighting
  doc/user-manual/tools/performance.rst
Labels: ux: documentation

#7015 Add a description of the generalisation process to Agda.TypeChecking.Generalize
  src/full/Agda/TypeChecking/Generalize.hs
Labels: type: task, generalize
