Repository agda/agda, pull requests merged in 2023-08, with the labels that each got.

#6771 TypeChecking/Rules/Def.hs Error Refactor
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
Labels: refactor

#6772 MAlonzo: coerce let body in RHS
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  test/Compiler/simple/Issue6530.agda
Labels: backend: ghc

#6773 Fix #6767: spurious __IMPOSSIBLE__ in forcing translation
  CHANGELOG.md
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  test/Succeed/Issue6767.agda
Labels: forcing, regression in 2.6.2

#6774 Testsuite: substitute `basename $AGDA_BIN` by "agda" in output
  test/Utils.hs
Labels: infra: test suite

#6784 More precise ranges for attributes; trigger error "tactic not allowed here"
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Attribute.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Info.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  test/Fail/Issue4927-1.err
  test/Fail/Issue4927-2.err
  test/Fail/Issue4927-3.err
  test/Fail/Issue4927-4.err
  test/Fail/Issue4927-6.err
  test/Fail/Issue4927-7.err
  test/Fail/Issue5034-1.err
  test/Fail/Issue5034-2.err
  test/Fail/Issue5034-3.err
  test/Fail/Issue5034-4.err
  test/Fail/Issue6349-1.err
  test/Fail/TacticNotAllowed.agda
  test/Fail/TacticNotAllowed.err
Labels: ux: error reporting, range, tactic

#6779 stack-9.6.2.yaml: reenable size-solver
  .github/workflows/test.yml
  src/github/workflows/test.yml
  stack-9.6.2.yaml
Labels: stackage, size-solver, infra: github workflows

#6792 Drop suffix `Warning` from `DuplicateFields/TooManyFieldsWarning`
  Agda.cabal
  CHANGELOG.md
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Base/Warning.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Records.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Succeed/DuplicateFields.warn
  test/Succeed/Issue3684-alien-duplicate-fields.warn
  test/Succeed/Issue3684.warn
  test/Succeed/RecordUpdateSyntax.warn
  test/Succeed/TooManyFields.warn
Labels: ux: warnings

#6793 Fix typos in test case for #3983
  test/Fail/Issue3983.agda
  test/Fail/Issue3983.err
Labels: infra: test suite

#6797 Fix #6795 by using generic traversal for C.Declaration
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Utils/Singleton.hs
  test/Fail/Issue3983.agda
  test/Fail/Issue3983.err
  test/Succeed/Issue1137.warn
Labels: ux: warnings

#6800 Replace warning `GenericUseless` by three specific warnings
  CHANGELOG.md
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue6795.err
  test/Succeed/Issue1137.warn
  test/Succeed/Issue4769.warn
Labels: ux: warnings

#6803 Document the ETA pragma
  doc/user-manual/language/coinduction.lagda.rst
  doc/user-manual/language/pragmas.lagda.rst
  test/Fail/EtaData.agda
  test/Fail/Issue4450.agda
  test/Succeed/EtaColist.agda
Labels: eta, ux: documentation, pragma

#6810 Rewrite highlight-hover.js from scratch
  LICENSE
  src/data/html/highlight-hover.js
Labels: backend: html, license, pr: squash-me

#6790 Trace Call `CheckModuleParameters` when checking a module telescope
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Trace.hs
  src/full/Agda/TypeChecking/Pretty/Call.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/Utils/Function.hs
  test/Fail/TacticNotAllowed.err
Labels: ux: error reporting, parameters, pr: squash-me
