Repository agda/agda, pull requests merged in 2023-02, with the labels that each got.

#6503 [ workflows ] Fix #6502: remove *.md from html
  .github/workflows/haddock.yml
  src/github/workflows/haddock.yml
Labels: haddock, infra: github workflows

#6489 emacs-mode: remove bundled sub-libraries from dependency list
  src/data/emacs-mode/agda2-mode-pkg.el
Labels: ux: emacs

#6514 Bump stack CI from GHC 9.2.5 to 9.2.6
  .github/workflows/stack-dry-run.yml
  Agda.cabal
  doc/user-manual/getting-started/installation.rst
  src/github/workflows/stack-dry-run.yml
  stack-9.2.6.yaml
Labels: infra: github workflows, stack

#6515 cubical: Fix level in reduct of PathP transp
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  test/Succeed/TranspPathPLevel.agda
Labels: cubical, internal-error
