Repository agda/agda, pull requests merged in 2023-07, with the labels that each got.

#6713 Fix #6711: Proper error when BUILTIN SIGMA is missing
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Primitive/Base.hs
  test/Fail/Issue6711.agda
  test/Fail/Issue6711.err
Labels: builtin, internal-error

#6033 Expose precise blocking machinery to reflection
  CHANGELOG.md
  doc/user-manual/language/reflection.lagda.rst
  src/data/lib/prim/Agda/Builtin/Reflection.agda
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/Succeed/Inlining-Builtin-Reflection-did-not-work.agda
Labels: type: enhancement, reflection

#6718 Skip inserted clauses in IApplyConfluence
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/IApplyConfluence.hs
  test/Succeed/Issue6715.agda
Labels: cubical

#6723 hotfix: Reduce type when inlining constructors
  src/full/Agda/TypeChecking/RecordPatterns.hs
  test/Succeed/ConInlineTypeAlias.agda
Labels: maculata, internal-error

#6730 Fix #6729 error message in opaque block
  src/full/Agda/Syntax/Concrete/Definitions.hs
  test/Fail/Issue6729.agda
  test/Fail/Issue6729.err
Labels: opaque

#6680 Add pretty printing for Compiled
  src/full/Agda/Compiler/Treeless/Pretty.hs
  src/full/Agda/Compiler/Treeless/Pretty.hs-boot
  src/full/Agda/TypeChecking/Monad/Base.hs
Labels: refactor, compiler-treeless

#6735 Fix backslash escaping for Emacs 29
  src/data/emacs-mode/agda2-mode.el
Labels: ux: emacs

#6738 Fix #6702: new warning `InlineNoExactSplit`
  CHANGELOG.md
  doc/user-manual/language/pragmas.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Monad/Context.hs
  src/full/Agda/TypeChecking/Monad/Pure.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/RecordPatterns.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Succeed/ConInlineTypeAlias.agda
  test/Succeed/Issue6660-Pair.agda
  test/Succeed/Issue6660-Stream.agda
  test/Succeed/Issue6660-Stream.warn
  test/Succeed/Issue6660-greet.agda
Labels: exact split, inlining, record-expression-to-copatterns

#6740 CI: partial workaround #6739: run tests even if other tests failed
  .github/workflows/test.yml
  src/github/workflows/test.yml
Labels: infra: test suite, infra: github workflows
