Repository agda/agda, pull requests merged in 2024-04, with the labels that each got.

#7216 Strengthen link between .el files in src/data/emacs and src/agda-mode
  Agda.cabal
  src/agda-mode/Main.hs
  src/data/emacs-mode/README.md
  src/full/Agda/Utils/Monad.hs
  test/Internal/Tests.hs
  test/Internal/Utils/Monad.hs
Labels: ux: emacs, ux: installation, type: task

#7222 Fix #7219: only warn about problems with warning options
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue5029-2.err
  test/Fail/Issue5029.err
  test/Fail/UnknownWarning.agda
  test/Fail/UnknownWarning.err
  test/Fail/UnknownWarning.flags
  test/Succeed/UnknownWarning.agda
  test/Succeed/UnknownWarning.warn
  test/Succeed/WarningProblem.agda
Labels: ux: warnings

#7211 Fix #7181: Allow matching to continue when stuck on lazy pattern
  src/full/Agda/TypeChecking/Patterns/Match.hs
  src/full/Agda/TypeChecking/Patterns/Match.hs-boot
  src/full/Agda/TypeChecking/Reduce.hs
  test/Succeed/Issue7181.agda
Labels: regression in 2.6.1

#7200 Follow hlint suggestion: use list comprehension
  .hlint.yaml
  src/full/Agda/Compiler/JS/Pretty.hs
  test/Compiler/Tests.hs
  test/Internal/Utils/BiMap.hs
Labels: refactor, dev: hlint

#7201 Follow hlint suggestion: use infix
  .hlint.yaml
  src/full/Agda/Mimer/Options.hs
  test/Compiler/Tests.hs
  test/Internal/Utils/BiMap.hs
  test/Internal/Utils/Graph/AdjacencyMap/Unidirectional.hs
  test/Internal/Utils/List.hs
Labels: refactor, dev: hlint

#6569 Do final checks before freezing metas
  src/full/Agda/TypeChecking/Rules/Decl.hs
  test/Fail/Issue5848.err
Labels: meta

#6640 Add `INJECTIVE_FOR_INFERENCE` pragma
  .hlint.yaml
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/language/lossy-unification.lagda.rst
  doc/user-manual/language/pragmas.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Compiler/Backend/Base.hs
  src/full/Agda/Interaction/Highlighting/Dot/Base.hs
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/Syntax/Concrete/Operators/Parser.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Options.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Patterns/Internal.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Rewriting.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/Utils/IndexedList.hs
  src/full/Agda/Utils/TypeLevel.hs
  src/full/Agda/Utils/TypeLits.hs
  test/Succeed/ConflictingPragmaOptions.agda
  test/Succeed/ConflictingPragmaOptions.warn
  test/Succeed/InjectiveForInferencePragma.agda
Labels: pragma, lossy unification
