Repository agda/agda, pull requests merged in 2024-05, with the labels that each got.

#7241 Drop time-compat dependency and Stack LTS for GHC 8.6
  .github/workflows/stack-dry-run.yml
  Agda.cabal
  src/full/Agda/TypeChecking/Monad/Debug.hs
  src/github/workflows/stack-dry-run.yml
  stack-8.6.5.yaml
Labels: ghc-8.6.5

#7238 Build with GHC 9.10
  Agda.cabal
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Utils/List1.hs
  src/full/Agda/Utils/SmallSet.hs
Labels: ghc-9.10

#7275 #7245: warn about INJECTIVE_FOR_INFERENCE on non-functions
  src/full/Agda/TypeChecking/Rules/Decl.hs
  test/Fail/Issue6660-Pair-pattern.err
  test/Fail/Issue6660-data-constructor.err
  test/Succeed/Issue6660-Pair-pattern.agda
  test/Succeed/Issue6660-Pair-pattern.warn
  test/Succeed/Issue6660-data-constructor.agda
  test/Succeed/Issue6660-data-constructor.warn
  test/Succeed/Issue7245.agda
  test/Succeed/Issue7245.warn
Labels: pragma, ux: warnings

#7273 ToTreeless: allow backends to define custom pipelines
  src/full/Agda/Compiler/ToTreeless.hs
Labels: compiler-treeless, backends

#7292 New error warning `ConstructorDoesNotFitInData` instead of hard error.
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Errors.hs-boot
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Pure.hs-boot
  src/full/Agda/TypeChecking/Monad/Signature.hs-boot
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  src/full/Agda/TypeChecking/Warnings.hs
  test/Fail/Issue5706.err
  test/Fail/Issue776.err
  test/Fail/LargeIndicesWithoutK.err
  test/Fail/UnsolvableLevelConstraintsInDataDef.err
Labels: constructors, sorts, ux: warnings

#7298 Remove fiddly attempt at instance postponement
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Succeed/Issue7295.agda
Labels: instance, constraints
