Repository agda/agda, pull requests merged in 2024-03, with the labels that each got.

#7160 Fix #6667: case not `__IMPOSSIBLE__` for nullary syntax
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Succeed/Issue6667.agda
Labels: syntax, internal-error

#7161 Fix #6945: warn about useless private even in absense of nice decls
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/Syntax/Concrete/Definitions/Types.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  test/Succeed/Issue2759.agda
  test/Succeed/Issue2759.warn
  test/Succeed/Issue2858-invalid.warn
  test/Succeed/Issue6945.agda
  test/Succeed/Issue6945.warn
Labels: syntax, private, ux: warnings

#6444 Citation instructions
  .github/workflows/test.yml
  CITATION.cff
  doc/user-manual/conf.py
  src/github/workflows/test.yml
  src/release-tools/change-version.bash
Labels: pr: squash-me

#7144 Add reference to Cornelis in the documentation
  doc/user-manual/tools/emacs-mode.rst
Labels: ux: documentation

#7109 Discrimination trees for instance search
  Agda.cabal
  CHANGELOG.md
  src/full/Agda/Benchmarking.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/TypeChecking/DiscrimTree.hs
  src/full/Agda/TypeChecking/DiscrimTree/Types.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs-boot
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Monad/State.hs
  src/full/Agda/TypeChecking/Pretty.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/TypeChecking/Substitute/Class.hs
  src/full/Agda/TypeChecking/Unquote.hs
  src/full/Agda/Utils/ProfileOptions.hs
  test/Fail/Issue5781a.err
  test/Succeed/InstanceDiscrimEta.agda
  test/api/PrettyInterface.hs
Labels: instance

#7175 Bump GHC 9.8.1 to 9.8.2
  .github/workflows/cabal.yml
  .github/workflows/haddock.yml
  .github/workflows/stack-dry-run.yml
  .github/workflows/stack.yml
  .github/workflows/test.yml
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/getting-started/installation.rst
  src/agda-bisect/agda-bisect.cabal
  src/github/workflows/cabal-install.yml
  src/github/workflows/cabal.yml
  src/github/workflows/haddock.yml
  src/github/workflows/stack-dry-run.yml
  src/github/workflows/stack.yml
  src/github/workflows/test.yml
  src/release-tools/closed-issues-for-milestone/closed-issues-for-milestone.cabal
  src/size-solver/size-solver.cabal
  stack-9.6.4.yaml
  stack-9.8.2.yaml
Labels: infra: github workflows, ghc-9.8

#7179 Fix #7177: only setScope when scope is not null
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/Utils/Null.hs
  test/interaction/Issue7177.agda
  test/interaction/Issue7177.in
  test/interaction/Issue7177.out
Labels: scope, pattern-synonyms, ux: printing, constraints

#7180 Use compareAs for assignE even in compareAtom
  src/full/Agda/TypeChecking/Conversion.hs
  test/Succeed/EtaSingletonField.agda
Labels: type: bug, singleton-types

#7185 Fix #7176: turn absurd pattern in instance position to instance meta
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Pattern.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  test/Succeed/PatternSynonyms.agda
Labels: pattern-synonyms, instance, absurd clauses

#7184 Commenting test for #7180
  test/Succeed/EtaSingletonField.agda
Labels: infra: test suite, type: task

#7195 Fix Mimer trying bad recursive calls
  .hlint.yaml
  Agda.cabal
  src/full/Agda/Mimer/Mimer.hs
  src/full/Agda/TypeChecking/Substitute/Class.hs
  test/interaction/Issue7116.agda
  test/interaction/Issue7116.in
  test/interaction/Issue7116.out
Labels: Mimer

#7194 HLint list element suggestions
  .hlint.yaml
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Injectivity.hs
  src/full/Agda/Utils/BiMap.hs
  test/Internal/Utils/Graph/AdjacencyMap/Unidirectional.hs
Labels: refactor, dev: hlint

#7197 Re. #7196: Only prune instances in serialised iface
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  test/interaction/Issue7196.agda
  test/interaction/Issue7196.in
  test/interaction/Issue7196.out
Labels: instance

#7183 Instance overlap pragmas
  CHANGELOG.md
  doc/user-manual/language/instance-arguments.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Benchmarking.hs
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Definitions.hs
  src/full/Agda/Syntax/Concrete/Definitions/Errors.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Lexer.x
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/DiscrimTree.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Constraints.hs
  src/full/Agda/TypeChecking/Pretty/Constraint.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  test/Fail/DisallowedOverlaps.err
  test/Fail/Overlap1.agda
  test/Fail/Overlap1.err
  test/Fail/Overlap2.agda
  test/Fail/Overlap2.err
  test/Fail/OverlapLocal1.agda
  test/Fail/OverlapLocal1.err
  test/Fail/OverlapLocal2.agda
  test/Fail/OverlapLocal2.err
  test/Fail/OverlapMultiple.agda
  test/Fail/OverlapMultiple.err
  test/Fail/OverlapNonInstance1.agda
  test/Fail/OverlapNonInstance1.err
  test/Fail/OverlapNonInstance2.agda
  test/Fail/OverlapNonInstance2.err
  test/Fail/OverlapNonInstance3.agda
  test/Fail/OverlapNonInstance3.err
  test/Fail/OverlapNonInstance4.agda
  test/Fail/OverlapNonInstance4.err
  test/Succeed/Issue1532.agda
  test/Succeed/Issue2008a.agda
  test/Succeed/Issue2008c.agda
  test/Succeed/Issue2607b.agda
  test/Succeed/Issue899.agda
  test/Succeed/Overlap1.agda
  test/Succeed/Overlap2.agda
  test/Succeed/OverlapLocal1.agda
  test/Succeed/OverlapLocal2.agda
  test/Succeed/RecursiveInstanceSearchLevel.agda
  test/Succeed/Test4687.agda
Labels: instance

#6769 Various symbol additions to agda-input
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs

#7209 Fix #7208: restore missing check for OverlappingProjects
  src/full/Agda/Interaction/Imports.hs
  test/Fail/Issue7208.agda
  test/Fail/Issue7208.err
  test/Fail/Issue7208/A.agda
Labels: import, internal-error

#7210 Fix range for deprecated module import warning when applied
  src/full/Agda/Syntax/Parser/Parser.y
  test/Fail/Issue481NonExistentModule.err
  test/Succeed/AppliedImportDeprecatedModule.agda
  test/Succeed/AppliedImportDeprecatedModule.warn
  test/Succeed/Deprecated/Deprecated.agda
  test/interaction/Issue4954.out
Labels: range, ux: warnings

#7213 Restore agda-input for ordinary backslash (regression in #6769)
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs
