Repository agda/agda, pull requests merged in 2024-06, with the labels that each got.

#7316 add \crossmark to emacs input mode
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs, unicode

#7320 Turn on --exact-split by default
  CHANGELOG.md
  doc/user-manual/language/function-definitions.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
  test/interaction/Highlighting.agda
  test/interaction/Highlighting.out
Labels: ux: options, exact split

#7300 New deadcode warning CoinductiveEtaRecord instead of GenericError
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue2436.agda
  test/Fail/Issue2436.err
Labels: coinduction, eta, ux: warnings

#7231 Instantiate terms before traversing them in tcExtendContext
  src/full/Agda/TypeChecking/Unquote.hs
  test/Succeed/Issue7231.agda
Labels: meta, reflection

#7325 add CSS rule for macro names
  src/data/html/Agda.css
Labels: backend: html

#7328 Remove unknown-field.agda-lib from test/Succeed
  test/Fail/Installed.err
  test/Succeed/installed-libs/Installed.warn
  test/Succeed/installed-libs/libraries
  test/Succeed/unknown-field.agda-lib
Labels: infra: test suite

#6674 Testcase for fixed #6542
  test/Succeed/Issue6542.agda
  test/Succeed/Issue6542.flags
  test/Succeed/Issue6542/Import.agda
Labels: type: bug, checkInternal

#7334 Fix #7331: handle permission error when search for project file
  src/full/Agda/Interaction/Library.hs
  test/interaction/Issue7331.agda
  test/interaction/Issue7331.out
  test/interaction/Issue7331.sh
Labels: ux: library management
