Repository agda/agda, pull requests merged in 2024-09, with the labels that each got.

#7457 Revert default to `--no-save-metas`
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
Labels: ux: options, save-metas

#7465 Re #7455: Setup.hs: catch when Agda did not produce (all) agdai files
  Setup.hs
Labels: ux: installation, Setup.hs

#7473 Re #6919: also separate compilation warnings by newlines
  src/full/Agda/Compiler/Backend.hs
  test/Compiler/simple/ExportAndUse.out
  test/Compiler/simple/Issue2714.out
  test/Succeed/CompileBuiltinListWarning.warn
  test/Succeed/InlineCompiled.warn
  test/Succeed/Issue2909-5.warn
  test/Succeed/Issue2909-6.warn
  test/Succeed/ParseErrorGHCPragma.warn
Labels: backend: ghc, backends, ux: warnings

#7474 Fix `{modify,state}TCLensM` and `%==` and `%%=` (lost state effects)
  Agda.cabal
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/Utils/Lens.hs
  test/Internal/Tests.hs
  test/Internal/Utils/Lens.hs
Labels: type: task

#7471 setup: Don't assume exe is built on --lib
  Setup.hs
Labels: ux: installation, Setup.hs

#7475 Hotfix for #7442
  src/full/Agda/TypeChecking/Empty.hs
  src/full/Agda/TypeChecking/Records.hs
  test/Succeed/Issue7442-M.agda
  test/Succeed/Issue7442.agda
Labels: record constructors, erased-cubical

#6629 Reflection primitive for parsing surface level syntax from string.
  CHANGELOG.md
  doc/user-manual/language/reflection.lagda.rst
  src/data/lib/prim/Agda/Builtin/Reflection.agda
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Abstract.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/Succeed/Issue6320.agda
Labels: reflection

#7480 Match display forms in the right context
  src/full/Agda/TypeChecking/DisplayForm.hs
  test/Fail/LiftDisplayIntermediate.agda
  test/Fail/LiftDisplayIntermediate.err
Labels: type: bug, ux: display

#7485 TypeChecking.Pretty: add missing SPECIALIZE & some INLINE, eta-contract
  src/full/Agda/TypeChecking/Pretty.hs
Labels: performance, ux: printing, refactor

#7487 Mimer shouldn't try to use existing pattern lambdas in solutions
  src/full/Agda/Mimer/Mimer.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/interaction/Issue7484.agda
  test/interaction/Issue7484.in
  test/interaction/Issue7484.out
Labels: Mimer

#7490 Warn in test runner if -v not supported
  HACKING.md
  test/Compiler/Tests.hs
  test/Fail/Tests.hs
  test/Interactive/Tests.hs
  test/Main.hs
  test/Succeed/Tests.hs
  test/Utils.hs
Labels: infra: test suite, devx

#7501 handle ProjPs in DISPLAY pragmas
  src/full/Agda/TypeChecking/Rules/Display.hs
  test/Fail/ProjPDisplay.agda
  test/Fail/ProjPDisplay.err
Labels: type: bug, ux: display

#7500 Fix & test `primShowNat`
  src/data/lib/prim/Agda/Builtin/String.agda
  test/Common/String.agda
  test/Compiler/simple/Arith.agda
Labels: type: bug, backend: js, pr: preserve commits

#7504 [ fix #7503 ] Use principal sort of datatype for checking if split is ok
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  test/Fail/PropCumulative.err
Labels: prop, cumulativity

#7502 Make termination checking more permissive wrt non-exact clause reduction
  src/full/Agda/Termination/TermCheck.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Reduce.hs
  test/Succeed/TerminationNonExactClause.agda
Labels: type: enhancement, termination, catch-all

#7489 TypeChecking.Pretty: remove and change some SPECIALIZE pragmas
  src/full/Agda/TypeChecking/Pretty.hs
Labels: performance, refactor

#7491 ES6 modules
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/tools/compilers.lagda.rst
  flake.lock
  flake.nix
  src/data/JS/agda-rts.mjs
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/JS/Pretty.hs
  test/Compiler/Tests.hs
Labels: backend: js

#7505 Remove unused `clauseExact` field
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/Syntax/Internal.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Functions.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Reduce.hs
  src/full/Agda/TypeChecking/Rules/Builtin/Coinduction.hs
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Substitute.hs
Labels: exact split, type: task

#7510 Expose the names of generated record constructors (reopen #6975)
  CHANGELOG.md
  doc/user-manual/language/record-types.lagda.rst
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Parser/Helpers.hs
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Abstract.hs
  test/Fail/AnonymousRecConstrAbstract.agda
  test/Fail/AnonymousRecConstrAbstract.err
  test/Fail/AnonymousRecConstrAmbig.agda
  test/Fail/AnonymousRecConstrAmbig.err
  test/Fail/AnonymousRecConstrData.agda
  test/Fail/AnonymousRecConstrData.err
  test/Fail/AnonymousRecConstrFunction.agda
  test/Fail/AnonymousRecConstrFunction.err
  test/Fail/AnonymousRecConstrInline.agda
  test/Fail/AnonymousRecConstrInline.err
  test/Fail/AnonymousRecConstrLocal.agda
  test/Fail/AnonymousRecConstrLocal.err
  test/Fail/AnonymousRecConstrParse.agda
  test/Fail/AnonymousRecConstrParse.err
  test/Fail/AnonymousRecConstrParse1.agda
  test/Fail/AnonymousRecConstrParse1.err
  test/Fail/AnonymousRecConstrPostulate.agda
  test/Fail/AnonymousRecConstrPostulate.err
  test/Fail/AnonymousRecConstrUnknown.agda
  test/Fail/AnonymousRecConstrUnknown.err
  test/Fail/IUnivNotFibrant.err
  test/Fail/Issue1035.err
  test/Fail/Issue2998-illtyped.err
  test/Fail/Issue4637.err
  test/Fail/Issue555c.err
  test/Succeed/AnonymousRecConstr.agda
  test/Succeed/AnonymousRecConstrAbstract.agda
  test/Succeed/AnonymousRecConstrCopy.agda
  test/Succeed/AnonymousRecConstrCopy2.agda
  test/Succeed/AnonymousRecConstrCopy3a.agda
  test/Succeed/AnonymousRecConstrCopy3b.agda
  test/Succeed/AnonymousRecConstrImport.agda
  test/Succeed/AnonymousRecConstrInline.agda
  test/Succeed/AnonymousRecConstrQual.agda
  test/Succeed/AnonymousRecConstrQuote.agda
  test/Succeed/AnonymousRecConstrRename.agda
Labels: record constructors, pr: squash-me

#7513 Reconcile PR #7510 with commit ac2888a7ad: add Maybe Induction to scopeRecords
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
Labels: scope, build-failure, record constructors
