Repository agda/agda, pull requests merged in 2024-12, with the labels that each got.

#7010 [new] backend-end specific interaction
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/tools/emacs-mode.rst
  src/data/emacs-mode/agda2-mode.el
  src/full/Agda/Compiler/Backend.hs
  src/full/Agda/Compiler/Backend/Base.hs
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Interaction/AgdaTop.hs
  src/full/Agda/Interaction/Base.hs
  src/full/Agda/Interaction/Command.hs
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/Highlighting/Dot/Backend.hs
  src/full/Agda/Interaction/Highlighting/HTML/Backend.hs
  src/full/Agda/Interaction/Highlighting/LaTeX/Backend.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/TypeChecking/Monad/State.hs
Labels: agda-mode, backends, aim

#7648 Fix #7641: Range for ConstructorDoesNotFit warning (anon. rec. con.)
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Utils/Null.hs
  test/interaction/Highlighting.agda
  test/interaction/Highlighting.out
Labels: ux: highlighting, ux: warnings, record constructors

#7651 Fix #7650: Throw CaseSplitError when splitting on with-abstraction equality
  src/full/Agda/Interaction/MakeCase.hs
  test/interaction/Issue7650.agda
  test/interaction/Issue7650.in
  test/interaction/Issue7650.out
Labels: with, ux: case splitting

#7652 remove the cubical identity type
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/language/cubical.lagda.rst
  src/data/JS/agda-rts.amd.js
  src/data/JS/agda-rts.js
  src/data/JS/agda-rts.mjs
  src/data/lib/prim/Agda/Builtin/Cubical/Id.agda
  src/data/lib/prim/Agda/Builtin/Cubical/Sub.agda
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Compiler/MAlonzo/Misc.hs
  src/full/Agda/Compiler/MAlonzo/Primitives.hs
  src/full/Agda/Compiler/Treeless/Erase.hs
  src/full/Agda/Syntax/Builtin.hs
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  src/full/Agda/TypeChecking/Monad/Builtin.hs
  src/full/Agda/TypeChecking/Patterns/Match.hs
  src/full/Agda/TypeChecking/Primitive.hs
  src/full/Agda/TypeChecking/Primitive/Cubical.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Base.hs
  src/full/Agda/TypeChecking/Primitive/Cubical/Id.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  test/Compiler/simple/Erased-cubical.agda
  test/Fail/Issue6022.agda
  test/Fail/Issue6022.err
  test/Fail/Issue6022/Cubical.agda
  test/Succeed/CubicalPrims.agda
  test/Succeed/EtaHComp.agda
  test/Succeed/Issue2846.agda
  test/Succeed/Primitive.agda
  test/interaction/GoalConstraintElab1.agda
  test/interaction/GoalConstraintElab1.out
  test/interaction/GoalConstraintElab2.agda
  test/interaction/GoalConstraintElab2.out
  test/interaction/GoalConstraintElab3.agda
  test/interaction/GoalConstraintElab3.out
  test/interaction/GoalConstraintElab4.agda
  test/interaction/GoalConstraintElab4.out
  test/interaction/GoalConstraintElab5.agda
  test/interaction/GoalConstraintElab5.out
Labels: language change, cubical, pr: squash-me

#7653 Print point-ranges as such (line.col rather than line:col-col)
  src/data/emacs-mode/agda2-mode.el
  src/full/Agda/Syntax/Common/Pretty.hs
  test/Fail/Issue.1947.err
  test/Fail/Issue1976-constraints3.err
  test/Fail/Issue3257.tex.err
  test/Fail/_.err
  test/Fail/_ __ _.err
  test/interaction/Issue6333.out
Labels: ux: error reporting, range

#7657 Setup: unconditionally check if we want interfaces
  Setup.hs
Labels: ux: installation, Setup.hs
