Repository agda/agda, pull requests merged in 2024-01, with the labels that each got.

#7043 update `user-manual` to stdlib-v2.0
  doc/user-manual/language/with-abstraction.lagda.rst
Labels: standard-library, user-manual

#7032 Refactor `flake.nix`
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: platform: nix, devx

#7049 [ fix #7048 ] Only define hcomp constructors when --cubical-compatible.
  src/full/Agda/TypeChecking/Rules/Data.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
Labels: cubical-compatible

#7065 Some documentation fixes
  .gitignore
  .vscode/settings.json
  doc/user-manual/contribute/documentation.rst
  doc/user-manual/language/built-ins.lagda.rst
  doc/user-manual/language/cubical-compatible.rst
  doc/user-manual/language/flat.lagda.rst
  doc/user-manual/language/lexical-structure.lagda.rst
  doc/user-manual/language/safe-agda.lagda.rst
  src/full/Agda/Interaction/FindFile.hs
  src/full/Agda/TypeChecking/IApplyConfluence.hs
Labels: ux: documentation, pr: squash-me

#7072 Add 'Inference in Agda' to the list of tutorials
  doc/user-manual/getting-started/tutorial-list.rst
Labels: ux: documentation

#7074 [ workflow ] Allow any newer PATCH version for `cancel-workflow-action`
  .github/workflows/cabal-install.yml
  .github/workflows/cabal.yml
  .github/workflows/deploy.yml
  .github/workflows/stack-dry-run.yml
  .github/workflows/stack.yml
  .github/workflows/test.yml
  src/github/workflows/cabal-install.yml
  src/github/workflows/cabal.yml
  src/github/workflows/deploy.yml
  src/github/workflows/stack-dry-run.yml
  src/github/workflows/stack.yml
  src/github/workflows/test.yml
Labels: not-in-changelog, dependencies

#6988 Provide a `.agda-lib` for Agda builtins
  Agda.cabal
  Setup.hs
  doc/user-manual/tools/command-line-options.rst
  src/data/lib/prim/agda-builtins.agda-lib
  src/full/Agda/Interaction/FindFile.hs
  src/full/Agda/Interaction/Library.hs
  src/full/Agda/Interaction/Options/Base.hs
  test/Fail/Issue641-all-interfaces.err
  test/Fail/Issue641.err
Labels: builtin, ux: library management

#7079 More precise type for Utils.Graph...sccs: every SCC is non-empty
  src/full/Agda/Utils/Graph/AdjacencyMap/Unidirectional.hs
Labels: api
