Repository agda/agda, pull requests merged in 2024-08, with the labels that each got.

#7410 Fixup #7404 and test agdai-generation in cabal-install workflow
  .github/workflows/cabal-install.yml
  Setup.hs
  src/github/workflows/cabal-install.yml
Labels: ux: installation

#7414 Replace interaction `Cmd_no_metas` by `Cmd_load_no_metas`
  Setup.hs
  src/full/Agda/Interaction/Base.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Main.hs
  test/interaction/Cmd_load_no_metas.agda
  test/interaction/Cmd_load_no_metas.in
  test/interaction/Cmd_load_no_metas.out
Labels: ux: installation, ux: interaction, GenericError

#7423 Fixup #7265: restore passing arguments from goal to Mimer
  src/data/emacs-mode/agda2-mode.el
Labels: Mimer

#7422 Follow hlint suggestion: use maximum
  .hlint.yaml
  src/full/Agda/TypeChecking/Level.hs
Labels: dev: hlint

#7429 Follow hlint suggestion: redundant id
  .hlint.yaml
  src/full/Agda/Syntax/TopLevelModuleName/Boot.hs
Labels: dev: hlint

#7432 Bump hashable, tasty-quickcheck, and workflows
  .github/workflows/cabal.yml
  .github/workflows/deploy.yml
  Agda.cabal
  src/github/workflows/cabal.yml
  src/github/workflows/deploy.yml
Labels: dependencies

#7445 Remove disclaimer that Agda would not follow the Haskell PVP
  Agda.cabal
Labels: ux: documentation

#7459 NotAValidLet{Expression,Binding} instead of GenericError
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/AbstractBlockInLet.agda
  test/Fail/AbstractBlockInLet.err
  test/Fail/Issue1718.err
  test/Fail/Issue381.err
  test/Fail/Issue4586LetBindingAbsurd.err
  test/Fail/Issue4586LetPatternAbsurd.err
  test/Fail/Issue4586LetPatternDot.err
  test/Fail/Issue4586LetPatternLiteral.err
  test/Fail/Issue4586WhereInLet.err
  test/Fail/Issue779pattern.err
  test/Fail/MacroInLetBinding.agda
  test/Fail/MacroInLetBinding.err
  test/Fail/MissingBodyInLet.agda
  test/Fail/MissingBodyInLet.err
  test/Fail/NotAValidLetBinding.err
Labels: let, GenericError

#7458 Add ZuriHac Video to tutorial-list
  doc/user-manual/getting-started/tutorial-list.rst
Labels: ux: documentation

#7456 Actually, --exact-split is not really on by default
  doc/release-notes/2.7.0.md
  doc/user-manual/language/function-definitions.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
Labels: ux: options, exact split, regression in 2.7.0

#6911 Reopen PR "Add `record where` syntax sugar (#6603)"
  CHANGELOG.md
  doc/user-manual/language/record-types.lagda.rst
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Pattern.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Generic.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Info.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/ProjectionLike.hs
  src/full/Agda/TypeChecking/RecordPatterns.hs
  src/full/Agda/TypeChecking/Records.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/TypeChecking/With.hs
  test/Fail/RecordWhere1.agda
  test/Fail/RecordWhere1.err
  test/Fail/RecordWhere2.agda
  test/Fail/RecordWhere2.err
  test/Fail/RecordWhereResugar.agda
  test/Fail/RecordWhereResugar.err
  test/Succeed/RecordWhere.agda
Labels: type: enhancement, record expression

#7454 Fixed #7199
  src/full/Agda/Interaction/Imports.hs
  test/interaction/Issue7199.agda
  test/interaction/Issue7199.hs
  test/interaction/Issue7199.out
  test/interaction/Issue7199/M.agda
Labels: interface

#7461 New unstructured error `IdiomBracketError`
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Syntax/IdiomBrackets.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/BindingsInIdiomBrackets.agda
  test/Fail/BindingsInIdiomBrackets.err
  test/Fail/IdiomBracketsImplicit.err
  test/Fail/IdiomBracketsNotInScope.err
  test/Fail/SectionsInIdiomBrackets.agda
  test/Fail/SectionsInIdiomBrackets.err
Labels: infra: test suite, idiom brackets, GenericError
