Repository agda/agda, pull requests merged in 2024-10, with the labels that each got.

#7522 refactor: use List1 in ConcreteNames
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
Labels: names, refactor

#7525 Fix CI warning "In the use of ‘tail’"
  src/size-solver/Main.hs
Labels: infra: test suite, size-solver, infra: github workflows, devx, pr: squash-me

#7539 Fix #7413: Cubical: a `GenericError` is actually `__IMPOSSIBLE__`
  src/full/Agda/TypeChecking/Telescope/Path.hs
Labels: cubical, GenericError

#7541 Refactor: use List1 in OpApp
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/Syntax/Concrete/Operators/Parser.hs
  src/full/Agda/Syntax/Concrete/Pattern.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/IdiomBrackets.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
Labels: refactor, operators

#7509 Fix #7508: remove unused-arg optimization from the JS backend
  src/full/Agda/Compiler/JS/Compiler.hs
  src/full/Agda/Compiler/ToTreeless.hs
  test/Compiler/simple/Issue7508.agda
  test/Compiler/simple/Issue7508.out
Labels: backend: js, pr: squash-me

#7366 Handle symlinks correctly when computing interface file locations
  src/full/Agda/Interaction/FindFile.hs
  src/full/Agda/Utils/FileName.hs
Labels: interface, file system

#7403 New literate programming backend forester, `*.lagda.tree`
  CHANGELOG.md
  doc/user-manual/tools/literate-programming.rst
  src/full/Agda/Interaction/Highlighting/HTML/Base.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Parser/Literate.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  test/Fail/BadCode.lagda.tree
  test/LaTeXAndHTML/succeed/Simple.lagda.tree
  test/LaTeXAndHTML/succeed/TreeOneLine.lagda.tree
  test/interaction/Issue2224.out
Labels: literate-agda, pr: squash-me

#7552 Refactor: move defArgGeneralizable to GeneralizableVar
  src/full/Agda/Mimer/Mimer.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/TypeChecking/Generalize.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Internal.hs
  src/full/Agda/TypeChecking/Substitute.hs
  src/full/Agda/Utils/Function.hs
Labels: refactor, generalize

#7536 Re #7533: warn when DISPLAY form binds variables unused on the rhs
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Rules/Display.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Succeed/InvalidDisplayForm.warn
  test/interaction/Issue1873.out
  test/interaction/Issue6325.out
Labels: ux: warnings, display pragma

#7554 user-manual-pdf: sphinx-8.1 needs dependency fontawesome5
  .github/workflows/user_manual.yml
  doc/user-manual/conf.py
  doc/user-manual/requirements.txt
  src/github/workflows/user_manual.yml
Labels: infra: github workflows, user-manual

#7558 Update HACKING.md (Agda Hackathon 2024)
  HACKING.md
Labels: devx

#7560 mergeNotations is identity on singleton list
  src/full/Agda/Syntax/Notation.hs
Labels: performance, refactor, operators

#7557 kill GenericError in instance search
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/Issue1003.err
  test/Fail/Issue1322.err
  test/Fail/UnknownImplicitInstance.err
Labels: instance, GenericError

#7567 Fix over-general type family Constant
  src/full/Agda/Utils/TypeLevel.hs
Labels: refactor

#7566 Make dangling hidden/instance args into a warning
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue4880.agda
  test/Fail/Issue4880.err
  test/Fail/NothingAppliedToHiddenArg.agda
  test/Fail/NothingAppliedToHiddenArg.err
  test/Fail/NothingAppliedToInstanceArg.agda
  test/Fail/NothingAppliedToInstanceArg.err
Labels: ux: error reporting, scope

#7571 Make build heap limit uniform 6GB on 64 bit
  Makefile
Labels: Makefile

#7572 Improvements to let desugaring
  CHANGELOG.md
  doc/user-manual/language/let-and-where.lagda.rst
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/UsedNames.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Parser/Helpers.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/TypeChecking/Implicit.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Trace.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/RecordPatterns.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue381.err
  test/Fail/Issue4775.agda
  test/Fail/Issue4775.err
  test/Fail/Issue5856.err
  test/Fail/Issue5856b.err
  test/Fail/Issue779pattern.err
  test/Fail/LetAbstract.agda
  test/Fail/LetAbstract.err
  test/Fail/LetAxiom.agda
  test/Fail/LetAxiom.err
  test/Fail/LetAxiomInstance.agda
  test/Fail/LetAxiomInstance.err
  test/Fail/MacroInLetBinding.err
  test/Succeed/ImplicitLambdaDifferent.agda
  test/Succeed/LetPrivate.agda
  test/Succeed/LetPrivate.warn
  test/Succeed/LetRecordPattern.agda
Labels: let

#7586 Support Happy 2.1.1
  src/full/Agda/Syntax/Parser/Parser.y
Labels: build-failure, happy

#7577 chore: remove uses of genericError
  .gitignore
  src/full/Agda/Compiler/MAlonzo/Compiler.hs
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/State.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Builtin.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/Record.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  src/full/Agda/TypeChecking/Unquote.hs
  test/Fail/BuiltinAbstractNatural.err
  test/Fail/BuiltinMustBeDef.agda
  test/Fail/BuiltinMustBeDef.err
  test/Fail/BuiltinTrueFalseDistinct.err
  test/Fail/Erased-record-2.err
  test/Fail/Erased-record-3.err
  test/Fail/FaceConstraintDisjunction.agda
  test/Fail/FaceConstraintDisjunction.err
  test/Fail/FaceConstraintUnsatisfiable.agda
  test/Fail/FaceConstraintUnsatisfiable.err
  test/Fail/InstanceArgumentsModNotParameterised.err
  test/Fail/InvalidFieldModality.agda
  test/Fail/InvalidFieldModality.err
  test/Fail/Issue2386-a.err
  test/Fail/Issue2386-b.err
  test/Fail/Issue2386-c.err
  test/Fail/Issue2386BuiltinEqualityExtraArg.err
  test/Fail/Issue2386BuiltinReflExtraArg.err
  test/Fail/Issue2386MonomorphicEquality.err
  test/Fail/Issue4525a.err
  test/Fail/Issue4525b.err
  test/Fail/Issue6011.err
  test/Fail/Issue6287-2.err
  test/Fail/NaturalAndLevelDifferent.err
  test/Fail/PostulatedSizeInModule.agda
  test/Fail/PostulatedSizeInModule.err
  test/Fail/UnquoteCommitAfterDef.agda
  test/Fail/UnquoteCommitAfterDef.err
  test/Fail/UnquoteCommitTC.err
  test/Fail/UnquoteDefineDataOverFun.err
  test/Fail/UnquoteUnbound.err
  test/Fail/WrongBuiltinUnit.err
  test/Fail/WrongSharpArity.agda
  test/Fail/WrongSharpArity.err
  test/interaction/Issue3316.out
  test/test-suite-covers-errors.sh
Labels: GenericError

#7592 CI macOS: install ICU via brew
  .github/workflows/cabal.yml
  src/github/workflows/cabal.yml
Labels: infra: github workflows, text-icu

#7591 Fix #7588: Remove overlapping branches when simplifying chained cases
  src/full/Agda/Compiler/Treeless/Simplify.hs
  test/Compiler/simple/Issue7588.agda
  test/Compiler/simple/Issue7588.out
Labels: compiler-treeless, backends, catch-all

#7583 Implement conversion to JS `BigInt`
  src/data/JS/agda-rts.amd.js
  src/data/JS/agda-rts.js
  src/data/JS/agda-rts.mjs
  test/Compiler/simple/Issue7573.agda
  test/Compiler/simple/Issue7573.out
Labels: builtin, backend: js, float, pr: squash-me

#7596 Implement `nix build .#debug`
  flake.nix
Labels: debug, platform: nix, devx
