Repository agda/agda, pull requests merged in 2024-07, with the labels that each got.

#7349 Fix #7346 by not considering HIT-constructor arguments forced
  src/full/Agda/TypeChecking/Forcing.hs
  test/Fail/Issue7346.agda
  test/Fail/Issue7346.err
Labels: forcing, hits

#7350 Fix #6744 by reducing during forcing analysis.
  src/full/Agda/TypeChecking/Forcing.hs
  test/Bugs/Issue3898.agda
  test/Bugs/Issue3898.err
  test/Succeed/Issue6744.agda
Labels: forcing

#7352 Fix issue 7262: Range of the lhs modality check
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/Term.hs
  test/Fail/Issue5448-1.err
  test/Fail/Issue5448-2.err
  test/Fail/Issue5448-3.err
  test/Fail/Issue5448-4-noK.err
  test/Fail/Issue5448-4.err
  test/Fail/Issue5468.agda
  test/Fail/Issue5468.err
Labels: ux: error reporting, range

#7353 Update installation docs (e.g. re #7163: document installation problems with `executable-dynamic`)
  doc/user-manual/getting-started/installation.rst
Labels: ux: installation, user-manual

#7347 [ fix #7266 ] Check that constructor names match before projecting in `matchPattern`
  src/full/Agda/TypeChecking/Patterns/Match.hs
  test/Fail/Issue7266.agda
  test/Fail/Issue7266.err
Labels: eta, record constructors

#7358 [ doc ] Document `--termination-depth` in user manual
  doc/user-manual/language/termination-checking.lagda.rst
Labels: termination, user-manual

#7359 Fix #7354 by making types of live metas live in DeadCode
  src/full/Agda/TypeChecking/DeadCode.hs
  test/Succeed/Issue7354/A.agda
  test/Succeed/Issue7354/B.agda
Labels: meta, serialization, dead-code

#7362 Fix #6919: separate warnings by empty line
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Main.hs
  src/full/Agda/Syntax/Common/Pretty.hs
  src/full/Agda/TypeChecking/Pretty.hs
Labels: ux: warnings

#7364 Resolve instance overlap for irrelevant metas
  src/full/Agda/TypeChecking/InstanceArguments.hs
  test/Succeed/Issue7364.agda
Labels: irrelevance, instance

#7367 Minor fixes to instance overlap + constraint postponement
  src/full/Agda/TypeChecking/InstanceArguments.hs
  test/Succeed/OverlapDupe.agda
Labels: instance

#7376 CI user_manual.yml: add xcolor to latex packages
  .github/workflows/user_manual.yml
  src/github/workflows/user_manual.yml
Labels: infra: github workflows, user-manual

#7377 New warning `RecursiveDisplayForm` instead of hard error
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Rules/Display.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue1644.agda
  test/Fail/Issue1644.err
  test/Fail/Issue1644b.agda
  test/Fail/Issue1644b.err
Labels: ux: display, ux: warnings, GenericError

#7378 [refactor] new InteractiveSplitError instead of GenericError
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Serialise/Base.hs
Labels: ux: case splitting, refactor, GenericError

#7386 Testcase for #7382 (completes PR #7383)
  src/full/Agda/TypeChecking/DeadCode.hs
  test/interaction/Issue7382.agda
  test/interaction/Issue7382.out
  test/interaction/Issue7382.sh
Labels: dead-code

#7387 Factor out `give_` and remove PatternErr handler
  src/full/Agda/Interaction/BasicOps.hs
Labels: give, GenericError

#7390 Remove unused pattern constructor A.AnnP
  src/full/Agda/Interaction/Highlighting/FromAbstract.hs
  src/full/Agda/Syntax/Abstract.hs
  src/full/Agda/Syntax/Abstract/Pattern.hs
  src/full/Agda/Syntax/Abstract/UsedNames.hs
  src/full/Agda/Syntax/Abstract/Views.hs
  src/full/Agda/Syntax/Internal/Names.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/Syntax/Translation/InternalToAbstract.hs
  src/full/Agda/Syntax/Translation/ReflectedToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Rules/Display.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/LHS/Problem.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Abstract.hs
Labels: reflection, type: task

#7395 Get rid of some MonadFail in favor of __IMPOSSIBLE__
  src/full/Agda/Compiler/MAlonzo/HaskellTypes.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Mimer/Mimer.hs
  src/full/Agda/TypeChecking/CheckInternal.hs-boot
  src/full/Agda/TypeChecking/Conversion.hs
  src/full/Agda/TypeChecking/Conversion.hs-boot
  src/full/Agda/TypeChecking/Forcing.hs
  src/full/Agda/TypeChecking/Injectivity.hs
  src/full/Agda/TypeChecking/Monad/Context.hs
  src/full/Agda/TypeChecking/Monad/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs-boot
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Records.hs
  src/full/Agda/Utils/Cluster.hs
  test/interaction/Issue2552.out
Labels: ux: error reporting

#7398 Rerun hlint default to refresh warnings
  .hlint.yaml
Labels: dev: hlint

#7400 Follow hlint suggestion: use gets
  .hlint.yaml
  src/full/Agda/TypeChecking/Injectivity.hs
Labels: dev: hlint

#7405 Follow hlint suggestion: use negate
  .hlint.yaml
  src/full/Agda/TypeChecking/Rules/Application.hs
Labels: dev: hlint
