Repository agda/agda, pull requests merged in 2024-11, with the labels that each got.

#7601 Support x64 macos in build
  .github/workflows/deploy.yml
  src/github/workflows/deploy.yml
Labels: ux: installation, infra: github workflows, platform:macOS, pr: squash-me

#7589 Fix #7575: Check if variables are generalizable in builtin pragmas
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/Issue7575.agda
  test/Fail/Issue7575.err
Labels: builtin, generalize, internal-error, pr: squash-me

#7610 Refactor: an Interval can have at most one SrcFile
  src/full/Agda/Interaction/Base.hs
  src/full/Agda/Interaction/Highlighting/LaTeX/Base.hs
  src/full/Agda/Interaction/Highlighting/Range.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Syntax/Common/Pretty.hs
  src/full/Agda/Syntax/Parser.hs
  src/full/Agda/Syntax/Parser/LexActions.hs
  src/full/Agda/Syntax/Parser/Literate.hs
  src/full/Agda/Syntax/Parser/Parser.y
  src/full/Agda/Syntax/Parser/Tokens.hs
  src/full/Agda/Syntax/Position.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Common.hs
  src/full/Agda/Utils/Tuple.hs
  test/Internal/Syntax/Position.hs
  test/interaction/Issue1020.in
  test/interaction/Issue2174.sh
  test/interaction/Issue2174a.sh
  test/interaction/Issue2565.in
  test/interaction/Issue2718.in
  test/interaction/Issue3000.in
  test/interaction/Issue994.in
Labels: range, refactor, pr: squash-me

#7625 Fixup #7610: update emacs mode to new Interval type
  src/data/emacs-mode/agda2-mode.el
Labels: ux: emacs, regression on master
