Repository agda/agda, pull requests merged in 2025-06, with the labels that each got.

#7930 Workflow test.yaml: Transport .stack also via artifact
  .github/workflows/test.yml
  src/github/workflows/test.yml
Labels: infra: github workflows

#7945 Fix #7944: do not apply `@0` from where-module to clause rhs
  doc/user-manual/language/runtime-irrelevance.lagda.rst
  src/full/Agda/TypeChecking/Rules/Def.hs
  test/Fail/Issue7944.agda
  test/Fail/Issue7944.err
Labels: where, erasure

#7946 Fix #7943: propagate erasure status to `where` blocks.
  doc/user-manual/language/runtime-irrelevance.lagda.rst
  src/full/Agda/TypeChecking/Rules/Def.hs
  test/Fail/Issue7943.agda
  test/Fail/Issue7943.err
  test/Fail/Issue7943.flags
  test/Succeed/Erased-modules-2.warn
  test/Succeed/Issue7943.agda
  test/Succeed/Issue7943.flags
Labels: where, erasure

#7950 Don't check polarities in fitsIn when --without-K.
  src/full/Agda/TypeChecking/Rules/Data.hs
  test/Succeed/PolarityAnnotations-WithoutK.agda
Labels: polarity, maculata

#7956 Fix #7955: replace impossible with syntax error
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Fail/Issue7955.agda
  test/Fail/Issue7955.err
Labels: parser, shape-irrelevance

#7932 Add `use-xdg-data-home`
  .github/workflows/deploy.yml
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/getting-started/installation.rst
  doc/user-manual/tools/command-line-options.rst
  flake.nix
  src/full/Agda/Main.hs
  src/github/workflows/deploy.yml
  src/setup/Agda/Setup.hs
Labels: ux: installation, release blocker

#7965 Re #7932: restore data-files in Agda.cabal and default data-dir
  .github/workflows/cabal.yml
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/getting-started/installation.rst
  doc/user-manual/tools/command-line-options.rst
  flake.nix
  src/full/Agda/Main.hs
  src/github/workflows/cabal.yml
  src/setup/Agda/Setup.hs
Labels: ux: installation, Setup.hs

#7959 Fix #7562: deployment workflow
  .github/check_agda.sh
  .github/install_agda_user.bat
  .github/install_emacs_mode.bat
  .github/install_emacs_mode.sh
  .github/workflows/deploy.yml
  CHANGELOG.md
  doc/user-manual/getting-started/installation.rst
  src/github/workflows/deploy.yml
Labels: ux: installation, infra: github workflows, pr: squash-me
