Repository agda/agda, pull requests merged in 2025-03, with the labels that each got.

#7732 Duplicate `agda-mode` as `agda --emacs-mode`
  Agda.cabal
  CHANGELOG.md
  doc/user-manual/getting-started/installation.rst
  doc/user-manual/tools/command-line-options.rst
  doc/user-manual/tools/emacs-mode.rst
  src/agda-mode/Main.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/Help.hs
  src/full/Agda/Interaction/Options/Types.hs
  src/full/Agda/Main.hs
  src/setup/Agda/Setup/DataFiles.hs
  src/setup/Agda/Setup/EmacsMode.hs
Labels: ux: emacs, ux: installation, pr: squash-me

#7734 Doc: executable-dynamic no longer a problem on Linux
  doc/user-manual/getting-started/installation.rst
Labels: ux: installation, ux: documentation

#7724 Parser.MemoizedCPS: simplify PG constructor
  src/full/Agda/Utils/Parser/MemoisedCPS.hs
Labels: refactor

#7739 Fix #7738: Allow rewrite rule defined with constructor or primitive
  src/full/Agda/TypeChecking/Rewriting.hs
  test/Succeed/Issue7738.agda
  test/Succeed/Issue7738b.agda
Labels: rewriting, internal-error

#7704 Speed up nix build
  flake.nix
Labels: platform: nix

#7745 Limit depth of constructed discrimination tree
  src/full/Agda/TypeChecking/DiscrimTree.hs
  test/Succeed/Issue7709.agda
Labels: performance, instance

#7752 Fix #7751: Consider datatype clauses generated from module application in recursion checker
  src/full/Agda/Termination/RecCheck.hs
  test/Fail/Issue7751.agda
  test/Fail/Issue7751.err
  test/Fail/Issue7751b.agda
  test/Fail/Issue7751b.err
  test/Fail/Issue7751c.agda
  test/Fail/Issue7751c.err
Labels: termination, false

#7758 Fix #7753: a possible `__IMPOSSIBLE__`
  src/full/Agda/TypeChecking/Coverage/Match.hs
  test/Succeed/Issue7753.agda
Labels: copatterns, internal-error

#7762 Resurrect error "BothWithAndRHS"
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/Fail/Issue7760.agda
  test/Fail/Issue7760.err
Labels: ux: error reporting, regression on master, internal-error

#7764 Fixed #7730
  src/data/emacs-mode/agda2-abbrevs.el
  src/data/emacs-mode/agda2-highlight.el
  src/data/emacs-mode/agda2-mode.el
  src/data/emacs-mode/agda2-queue.el
  src/data/emacs-mode/agda2.el
  src/data/emacs-mode/annotation.el
  src/data/emacs-mode/eri.el
Labels: type: bug, ux: emacs

#7767 Fix #7766: emacs org mode: fix code block end detection
  src/data/emacs-mode/agda2-mode.el
Labels: type: bug, ux: emacs, emacs goal detection

#7770 Re #7732: use `agda --emacs-mode` in `agda2-set-program-version`
  src/agda-mode/Main.hs
  src/data/emacs-mode/agda2-mode.el
Labels: ux: emacs, agda-mode, release blocker, maculata

#7773 Fix #7662: Mimer: special case for printing ♭
  src/full/Agda/Mimer/Mimer.hs
  test/interaction/Mimer-Misc.agda
  test/interaction/Mimer-Misc.in
  test/interaction/Mimer-Misc.out
Labels: type: bug, coinduction, Mimer
