Repository agda/agda, pull requests merged in 2025-09, with the labels that each got.

#8071 Go-to-definition in information buffer
  src/data/emacs-mode/agda2-mode.el
  src/full/Agda/Interaction/EmacsTop.hs
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Highlighting/Precise.hs
  src/full/Agda/Syntax/Abstract/Name.hs
  src/full/Agda/Syntax/Common/Aspect.hs
  src/full/Agda/Syntax/Common/Pretty.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Concrete/Glyph.hs
  src/full/Agda/Syntax/Concrete/Pretty.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  test/Fail/Issue1014.err
  test/Fail/Issue1035.err
  test/Fail/Issue1140.err
  test/Fail/Issue217.err
  test/Fail/Issue59-RemovedInlining.err
  test/Fail/Issue6795.err
  test/Fail/MixingCoPatternsAndCoConstructors.err
  test/Fail/SizedBTree.err
  test/Fail/TerminationWithInsufficientDepth.err
  test/interaction/Error-in-imported-module.in
  test/interaction/Error-in-imported-module.out
  test/interaction/Error-in-imported-module/M.agda
  test/interaction/Highlighting.out
Labels: ux: error reporting, ux: highlighting, ux: interaction, pr: squash-me

#8079 Fix operator parsing asymptotics
  Agda.cabal
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Scope/Flat.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Scope/Operator.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Abstract.hs
  src/full/Agda/TypeChecking/Serialise/Instances/General.hs
  src/full/Agda/Utils/List.hs
  test/Fail/Issue1974.err
  test/Fail/Issue1977.err
  test/Fail/Issue2480-experimental-irrelevance.err
  test/Fail/Issue2480false.err
  test/Fail/Issue5819.err
  test/Fail/Optimised-open.err
  test/Fail/QuoteHidden.err
  test/Fail/QuoteTermHidden.err
  test/Fail/WrongNamedArgument2.err
  test/Succeed/Issue1111.warn
  test/Succeed/Issue1934.warn
Labels: performance, operators

#8110 Remove unnecessary LHS.Unify.LeftInverse computation
  src/full/Agda/Benchmarking.hs
  src/full/Agda/TypeChecking/Coverage.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify/LeftInverse.hs
  test/Succeed/Issue1292b.warn
  test/interaction/Issue6787-2.out
Labels: performance, unification

#8121 Fix #8119: Dotted expression not impossible
  src/full/Agda/TypeChecking/Rules/Term.hs
  test/Fail/Issue8119.agda
  test/Fail/Issue8119.err
Labels: internal-error, postfix-projections
