Repository agda/agda, pull requests merged in 2025-04, with the labels that each got.

#7782 re #3209: print out-of-scope names unqualified in case splits
  CHANGELOG.md
  src/full/Agda/Interaction/InteractionTop.hs
  src/full/Agda/Syntax/Abstract/Pretty.hs
  src/full/Agda/Syntax/Translation/AbstractToConcrete.hs
  test/interaction/Issue2959.out
Labels: ux: case splitting, ux: printing

#7785 Fix #7777: parse both attributes and irrelevance markers
  src/full/Agda/Syntax/Parser/Helpers.hs
  src/full/Agda/Syntax/Parser/Parser.y
  test/Fail/Issue7777.agda
  test/Fail/Issue7777.err
  test/Succeed/Issue7777.agda
Labels: irrelevance, parser, tactic

#7786 New warning `UselessTactic for `tactic` attribute on non-hidden binder
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Highlighting/Generate.hs
  src/full/Agda/Interaction/Options/Warnings.hs
  src/full/Agda/Syntax/Concrete.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Fail/Issue6781TacticModalityExplicitArgument.agda
  test/Fail/Issue6781TacticModalityExplicitArgument.err
  test/Succeed/Issue5712.agda
Labels: language change, ux: warnings, tactic

#7794 remove spurious dependency of mimer on blaze
  src/full/Agda/Mimer/Mimer.hs
Labels: type: task

#7790 re #7417: reproduce CannotCreateMissingClause
  src/full/Agda/TypeChecking/Coverage/Cubical.hs
  test/Fail/CannotCreateMissingClause.agda
  test/Fail/CannotCreateMissingClause.err
  test/test-suite-covers-errors.sh
Labels: ux: error reporting, infra: test suite

#7791 [ new ] unicode symbols for various 'tacks'
  CHANGELOG.md
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs, type: enhancement, unicode

#7798 Discard candidates with visible arguments early
  src/full/Agda/TypeChecking/InstanceArguments.hs
  test/Succeed/Issue7797.agda
Labels: instance, regression on master, pr: squash-me

#7800 Fix #7796: don't hint towards --guardedness when --no-guardedness
  CHANGELOG.md
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  test/Fail/Issue1209-5.agda
  test/Fail/Issue7796.agda
  test/Fail/Issue7796.err
Labels: ux: error reporting, ux: options, guardedness

#7802 Remove broken AbsurdLam heuristics from Mimer
  src/full/Agda/Mimer/Mimer.hs
  test/interaction/Mimer-BasicLogic.agda
  test/interaction/Mimer-BasicLogic.in
  test/interaction/Mimer-BasicLogic.out
  test/interaction/Mimer-Misc.agda
  test/interaction/Mimer-Misc.in
  test/interaction/Mimer-Misc.out
Labels: type: bug, absurd clauses, Mimer

#7812 Fix #7803 fix #7811: new error PathAbstractionFailed instead of crash
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Telescope/Path.hs
  src/full/Agda/TypeChecking/With.hs
  test/Fail/Issue7803.agda
  test/Fail/Issue7803.err
  test/Fail/Issue7811.agda
  test/Fail/Issue7811.err
Labels: with, cubical, internal-error

#7813 mimer refactor
  src/full/Agda/Mimer/Mimer.hs
Labels: refactor, Mimer

#7814 Fix #7660: new DisambiguateConstructor postponed tc problem
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/JSONTop.hs
  src/full/Agda/Syntax/Info.hs
  src/full/Agda/TypeChecking/Constraints.hs
  src/full/Agda/TypeChecking/MetaVars.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Monad/Base/Types.hs
  src/full/Agda/TypeChecking/Pretty.hs
  src/full/Agda/TypeChecking/Pretty/Constraint.hs
  src/full/Agda/TypeChecking/Pretty/Constraint.hs-boot
  src/full/Agda/TypeChecking/Pretty/Warning.hs
  src/full/Agda/TypeChecking/Rules/Application.hs
  src/full/Agda/TypeChecking/Rules/Application.hs-boot
  test/Fail/Issue7660.agda
  test/Fail/Issue7660.err
Labels: ux: error reporting, ambiguous-constructors, constraints, regression in 2.6.1

#7816 re #7815: propagate range into wrapper modules
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/LaTeXAndHTML/succeed/Issue7815.agda
  test/LaTeXAndHTML/succeed/Issue7815.html
Labels: ux: highlighting, range

#7820 Force GHC to rebuild the VersionCommit module
  Makefile
Labels: devx

#7682 New main mode `--build-library`
  .github/workflows/test.yml
  Agda.cabal
  CHANGELOG.md
  Makefile
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/BuildLibrary.hs
  src/full/Agda/Interaction/Imports.hs
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/Types.hs
  src/full/Agda/Main.hs
  src/github/workflows/test.yml
  test/BuildSucceed/Issue4338/A.agda
  test/BuildSucceed/Issue4338/B.agda
  test/BuildSucceed/Issue4338/C.agda
  test/BuildSucceed/Issue4338/D.agda
  test/BuildSucceed/Issue4338/Issue4338.agda-lib
  test/BuildSucceed/Tests.hs
  test/Main.hs
Labels: ux: library management, help wanted, pr: squash-me

#7824 Fix #7823: Compare number of arguments when matching on DISPLAY pragma
  src/full/Agda/TypeChecking/DisplayForm.hs
  src/full/Agda/TypeChecking/Rules/Display.hs
  test/Fail/Issue7823a.agda
  test/Fail/Issue7823a.err
  test/Fail/Issue7823b.agda
  test/Fail/Issue7823b.err
Labels: display pragma

#7828 Refactor Quote: use droppedPars
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Quote.hs
  test/Succeed/QuoteAbstract.agda
Labels: reflection, refactor

#7830 Disregard qualified names when assigning clauses to functions in the nicifier
  src/full/Agda/Syntax/Concrete/Definitions.hs
  test/Succeed/QualifiedPatternInMutualBlock.agda
Labels: mutual, nice
