Repository agda/agda, pull requests merged in 2025-08, with the labels that each got.

#8043 [ opt ] Force arguments to writeIORef
  Agda.cabal
  src/full/Agda/Benchmarking.hs
  src/full/Agda/Syntax/Concrete/Glyph.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/SizedTypes/Utils.hs
  src/full/Agda/Utils/IORef/Strict.hs
Labels: performance, refactor, pr: squash-me

#8052 Re #8024: alert user that --build-library does not accept backends
  src/full/Agda/Main.hs
  test/Fail/OptionBuildLibraryWithBackend.agda
  test/Fail/OptionBuildLibraryWithBackend.err
  test/Fail/OptionBuildLibraryWithBackend.flags
  test/Fail/OptionInteractionWithBackend.agda
  test/Fail/OptionInteractionWithBackend.err
  test/Fail/OptionInteractionWithBackend.flags
Labels: backends, build-library

#8056 Fix #6939: warn when parser drops misplaced tactic in `Fun`
  src/full/Agda/Syntax/Parser/Helpers.hs
  src/full/Agda/Syntax/Parser/Parser.y
  test/Fail/Issue6939.agda
  test/Fail/Issue6939.err
Labels: parser, ux: warnings, tactic

#8069 Bubble transpSysTel' failures upwards
  src/full/Agda/TypeChecking/Rules/LHS/Unify/LeftInverse.hs
  test/Succeed/Issue8068.agda
  test/Succeed/Issue8068.warn
Labels: cubical, internal-error, pr: squash-me

#8063 fixup: caching with copy trimming
  src/full/Agda/Syntax/Scope/Base.hs
  src/full/Agda/Syntax/Scope/Monad.hs
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  src/full/Agda/TypeChecking/Monad/Signature.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
Labels: scope, caching, parameters
