Repository agda/agda, pull requests merged in 2025-05, with the labels that each got.

#7840 Document which pragmas are unsafe
  doc/user-manual/language/safe-agda.lagda.rst
Labels: ux: documentation, pragma, safe

#7845 Fix #7842: bring back error "Failed to give"
  src/full/Agda/Interaction/BasicOps.hs
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  test/interaction/Issue7842.agda
  test/interaction/Issue7842.in
  test/interaction/Issue7842.out
Labels: ux: error reporting, give, regression on master

#7819 [ fix #7392 ] Ensure wildcards and variable instances are kept
  src/full/Agda/Interaction/MakeCase.hs
  src/full/Agda/TypeChecking/Rules/LHS.hs
  src/full/Agda/TypeChecking/Rules/LHS/Problem.hs
  src/full/Agda/TypeChecking/Rules/LHS/ProblemRest.hs
  test/Succeed/Issue7392.agda
Labels: ux: case splitting, names, pr: squash-me

#7850 Re #7225: new error DatatypeIndexPolarity instead of GenericError
  src/full/Agda/Interaction/Options/Errors.hs
  src/full/Agda/TypeChecking/Errors.hs
  src/full/Agda/TypeChecking/Errors/Names.hs
  src/full/Agda/TypeChecking/Monad/Base.hs
  src/full/Agda/TypeChecking/Rules/Decl.hs
  test/Fail/PolarityDatatypeIndex.agda
  test/Fail/PolarityDatatypeIndex.err
Labels: ux: error reporting, polarity

#7857 Forget opacity when checking signatures
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
  test/Succeed/Issue7856.agda
Labels: opaque

#7858 Fix for #7659
  src/full/Agda/Mimer/Mimer.hs
  test/interaction/Issue7659.agda
  test/interaction/Issue7659.in
  test/interaction/Issue7659.out
Labels: internal-error, Mimer

#7862 Re #7598: make install: don't enable cluster counting
  Makefile
Labels: ux: installation, Makefile

#7885 disable discrim-based instance deferral by default
  CHANGELOG.md
  doc/user-manual/tools/command-line-options.rst
  src/full/Agda/Interaction/Options/Base.hs
  src/full/Agda/Interaction/Options/Types.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/Rules/Def.hs
  src/full/Agda/TypeChecking/Serialise.hs
  src/full/Agda/TypeChecking/Serialise/Instances/Errors.hs
  test/Succeed/Issue7882.agda
Labels: instance postponement

#7886 [doc] explain how to do postprocessing for literate forester
  CHANGELOG.md
  doc/user-manual/tools/literate-programming.rst
Labels: backends, literate-agda, pr: squash-me

#7894 Make install-bin the default target again
  Makefile
Labels: devx, Makefile

#7891 Remove duplicate inverse scope computation.
  src/full/Agda/Syntax/Translation/ConcreteToAbstract.hs
Labels: scope, performance, names

#7896 Fix #7324: highlighting of macro names in their definition
  src/full/Agda/Interaction/Highlighting/Generate.hs
  test/interaction/Issue7324.agda
  test/interaction/Issue7324.in
  test/interaction/Issue7324.out
Labels: type: bug, reflection, ux: highlighting

#7901 Properly update interaction points when solving with Mimer
  src/full/Agda/Interaction/InteractionTop.hs
  test/interaction/Issue7402.out
  test/interaction/Issue7898.agda
  test/interaction/Issue7898.in
  test/interaction/Issue7898.out
  test/interaction/Long.out
Labels: Mimer

#7900 intro: filter (higher) constructors based on dimension
  src/full/Agda/Interaction/BasicOps.hs
  test/interaction/IntroHIT.agda
  test/interaction/IntroHIT.in
  test/interaction/IntroHIT.out
Labels: ux: interaction, cubical

#7907 Fix issue #7903: etaExpandClause before constructor inlining
  src/full/Agda/TypeChecking/Functions.hs
  src/full/Agda/TypeChecking/RecordPatterns.hs
  test/Succeed/Issue6660-Stream.agda
  test/Succeed/Issue6660-Stream.warn
Labels: inlining, record constructors

#7920 Fix #7916: make optimise-heavily the default
  Agda.cabal
  CHANGELOG.md
  HACKING.md
  doc/user-manual/getting-started/installation.rst
Labels: performance, ux: installation

#7924 Add a few notes on irrelevance
  doc/user-manual/language/irrelevance.lagda.rst
Labels: irrelevance, ux: documentation
