Repository agda/agda, pull requests merged in 2025-02, with the labels that each got.

#7705 Return explicit blocker from pure conversion
  src/full/Agda/TypeChecking/Conversion/Pure.hs
  src/full/Agda/TypeChecking/InstanceArguments.hs
  src/full/Agda/TypeChecking/Rewriting/NonLinMatch.hs
  src/full/Agda/TypeChecking/Rules/LHS/Unify.hs
Labels: refactor

#7706 [HACKING] explain the generation of our workflows
  HACKING.md
Labels: devx

#7640 [ emacs ] adding su(b/p)(sim/approx) to input method
  src/data/emacs-mode/agda-input.el
Labels: ux: emacs, agda-mode

#7726 Compare overlapping instances in the right context
  src/full/Agda/TypeChecking/InstanceArguments.hs
  test/Succeed/OverlapCtx.agda
Labels: type: bug, instance, de-Bruijn

#7727 Fix #7722: in pattern parser only consider pattern-relevant operators
  src/full/Agda/Syntax/Common.hs
  src/full/Agda/Syntax/Concrete/Operators.hs
  src/full/Agda/Syntax/Scope/Flat.hs
  test/Fail/Issue3586.err
  test/Fail/Issue7722.agda
  test/Fail/Issue7722.err
  test/Fail/PatternMatchingOnCodata.err
Labels: type: bug, pattern matching, performance, operators
